<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Future base infrastructure</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Future base infrastructure</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/0c52f2d3-5e61-4c2c-80d7-6c2de0e274b1.png" alt="Future base infrastructure" usemap="#0c52f2d3-5e61-4c2c-80d7-6c2de0e274b1map"/>
			   <map name="0c52f2d3-5e61-4c2c-80d7-6c2de0e274b1map">
				  				<area shape="rect" coords="874,346,1007,551" href="../elements/65df45d8-c2ff-49cd-92e1-d349806a058a.html"  target="element">
				  				<area shape="rect" coords="946,562,1115,647" href="../elements/8605a15d-e5aa-4693-bf0b-51eb725be040.html"  target="element">
				  				<area shape="rect" coords="995,238,1115,293" href="../elements/59ff8b16-c0ab-454f-b24b-004cd41c210a.html"  target="element">

				  		<area shape="rect" coords="862,178,1142,683" href="../elements/c8b5c579-243e-4fea-8b2a-dc575366ae7b.html"  target="element">
				  		<area shape="rect" coords="610,346,827,683" href="../elements/bb83d481-bb61-4728-bba1-e7a9c814d87e.html"  target="element">
				  		<area shape="rect" coords="574,10,694,65" href="../elements/33da5b6f-22ff-42f0-9f77-b07a86a58537.html"  target="element">
				  				<area shape="rect" coords="58,298,215,659" href="../elements/2d094835-1a4d-402b-a25e-f24001478d35.html"  target="element">
				  						<area shape="rect" coords="341,514,461,569" href="../elements/9f280117-a525-448c-b243-1e4f3562bb45.html"  target="element">
				  						<area shape="rect" coords="341,442,461,497" href="../elements/54e684bb-00f1-4bfe-ab73-80f879389c5a.html"  target="element">
				  						<area shape="rect" coords="322,334,479,419" href="../elements/9fd517f6-d77f-4f06-8689-88abb09abc05.html"  target="element">

				  				<area shape="rect" coords="310,298,503,659" href="../elements/2d7cedd4-fcf9-4f42-85ef-1890152ffcc5.html"  target="element">
				  				<area shape="rect" coords="358,190,478,245" href="../elements/6154ae8d-59a9-4bdd-b742-d66e62b56f37.html"  target="element">

				  		<area shape="rect" coords="10,166,551,683" href="../elements/7f7f1ddc-08f9-4daf-8bea-32757d3c0b12.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/7f7f1ddc-08f9-4daf-8bea-32757d3c0b12.html" target="element"> Main facility </a> </td>
											    <td> <a href="../elements/7f7f1ddc-08f9-4daf-8bea-32757d3c0b12.html" target="element" class="i18n-elementtype-Location"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/6154ae8d-59a9-4bdd-b742-d66e62b56f37.html" target="element"> Firewall &amp; Router &amp; IDS </a> </td>
													    <td> <a href="../elements/6154ae8d-59a9-4bdd-b742-d66e62b56f37.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2d7cedd4-fcf9-4f42-85ef-1890152ffcc5.html" target="element"> Datacenter </a> </td>
													    <td> <a href="../elements/2d7cedd4-fcf9-4f42-85ef-1890152ffcc5.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/9fd517f6-d77f-4f06-8689-88abb09abc05.html" target="element"> Windows 2019 server (datacenter) for identities </a> </td>
															    <td> <a href="../elements/9fd517f6-d77f-4f06-8689-88abb09abc05.html" target="element" class="i18n-elementtype-Device"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/54e684bb-00f1-4bfe-ab73-80f879389c5a.html" target="element"> RHEL Linux server (datacenter) for VPN </a> </td>
															    <td> <a href="../elements/54e684bb-00f1-4bfe-ab73-80f879389c5a.html" target="element" class="i18n-elementtype-Device"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/9f280117-a525-448c-b243-1e4f3562bb45.html" target="element"> Other servers </a> </td>
															    <td> <a href="../elements/9f280117-a525-448c-b243-1e4f3562bb45.html" target="element" class="i18n-elementtype-Device"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/2d094835-1a4d-402b-a25e-f24001478d35.html" target="element"> Departments </a> </td>
													    <td> <a href="../elements/2d094835-1a4d-402b-a25e-f24001478d35.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/33da5b6f-22ff-42f0-9f77-b07a86a58537.html" target="element"> Internet </a> </td>
											    <td> <a href="../elements/33da5b6f-22ff-42f0-9f77-b07a86a58537.html" target="element" class="i18n-elementtype-CommunicationNetwork"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bb83d481-bb61-4728-bba1-e7a9c814d87e.html" target="element"> Remote workers </a> </td>
											    <td> <a href="../elements/bb83d481-bb61-4728-bba1-e7a9c814d87e.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c8b5c579-243e-4fea-8b2a-dc575366ae7b.html" target="element"> Other company buildings </a> </td>
											    <td> <a href="../elements/c8b5c579-243e-4fea-8b2a-dc575366ae7b.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/59ff8b16-c0ab-454f-b24b-004cd41c210a.html" target="element"> Firewall &amp; Router &amp; IDS </a> </td>
													    <td> <a href="../elements/59ff8b16-c0ab-454f-b24b-004cd41c210a.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8605a15d-e5aa-4693-bf0b-51eb725be040.html" target="element"> Facility &amp; own IT resources </a> </td>
													    <td> <a href="../elements/8605a15d-e5aa-4693-bf0b-51eb725be040.html" target="element" class="i18n-elementtype-Facility"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/65df45d8-c2ff-49cd-92e1-d349806a058a.html" target="element"> Datacenter replica </a> </td>
													    <td> <a href="../elements/65df45d8-c2ff-49cd-92e1-d349806a058a.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																			<tr>
																				<td> <a href="../elements/32317b2a-932a-4e58-8f91-52d2d95eb8bd.html" target="element"> VLAN:s  </a> </td>
																				<td> <a href="../elements/32317b2a-932a-4e58-8f91-52d2d95eb8bd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/6154ae8d-59a9-4bdd-b742-d66e62b56f37.html" target="element"> Firewall &amp; Router &amp; IDS </a> </td>
																				<td> <a href="../elements/2d094835-1a4d-402b-a25e-f24001478d35.html" target="element"> Departments </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b0687702-ba14-4843-ab73-bc069e9c9b9e.html" target="element"> VLAN:s </a> </td>
																				<td> <a href="../elements/b0687702-ba14-4843-ab73-bc069e9c9b9e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/6154ae8d-59a9-4bdd-b742-d66e62b56f37.html" target="element"> Firewall &amp; Router &amp; IDS </a> </td>
																				<td> <a href="../elements/2d7cedd4-fcf9-4f42-85ef-1890152ffcc5.html" target="element"> Datacenter </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/fac89c13-1c7d-4236-9fd1-76459d3efdb6.html" target="element"> VLAN:s </a> </td>
																				<td> <a href="../elements/fac89c13-1c7d-4236-9fd1-76459d3efdb6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/2d7cedd4-fcf9-4f42-85ef-1890152ffcc5.html" target="element"> Datacenter </a> </td>
																				<td> <a href="../elements/2d094835-1a4d-402b-a25e-f24001478d35.html" target="element"> Departments </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/8cce3c69-b2c3-41dc-a327-c8b4a4163de6.html" target="element"> VPN Connection </a> </td>
																						<td> <a href="../elements/8cce3c69-b2c3-41dc-a327-c8b4a4163de6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																						<td> <a href="../elements/54e684bb-00f1-4bfe-ab73-80f879389c5a.html" target="element"> RHEL Linux server (datacenter) for VPN </a> </td>
																						<td> <a href="../elements/bb83d481-bb61-4728-bba1-e7a9c814d87e.html" target="element"> Remote workers </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/34dc8b96-4a9f-443b-96f4-4b19af9cade0.html" target="element"> VPN </a> </td>
																						<td> <a href="../elements/34dc8b96-4a9f-443b-96f4-4b19af9cade0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																						<td> <a href="../elements/54e684bb-00f1-4bfe-ab73-80f879389c5a.html" target="element"> RHEL Linux server (datacenter) for VPN </a> </td>
																						<td> <a href="../elements/c8b5c579-243e-4fea-8b2a-dc575366ae7b.html" target="element"> Other company buildings </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/8617c48e-4cd7-4fd9-9701-8f8dfea635dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/8617c48e-4cd7-4fd9-9701-8f8dfea635dc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/33da5b6f-22ff-42f0-9f77-b07a86a58537.html" target="element"> Internet </a> </td>
																		<td> <a href="../elements/6154ae8d-59a9-4bdd-b742-d66e62b56f37.html" target="element"> Firewall &amp; Router &amp; IDS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/50a3022e-5306-4625-b7ed-980b4800909d.html" target="element">  </a> </td>
																		<td> <a href="../elements/50a3022e-5306-4625-b7ed-980b4800909d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/33da5b6f-22ff-42f0-9f77-b07a86a58537.html" target="element"> Internet </a> </td>
																		<td> <a href="../elements/bb83d481-bb61-4728-bba1-e7a9c814d87e.html" target="element"> Remote workers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/880ba3f8-e004-42d9-9495-450dc1d8de8c.html" target="element">  </a> </td>
																		<td> <a href="../elements/880ba3f8-e004-42d9-9495-450dc1d8de8c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/33da5b6f-22ff-42f0-9f77-b07a86a58537.html" target="element"> Internet </a> </td>
																		<td> <a href="../elements/59ff8b16-c0ab-454f-b24b-004cd41c210a.html" target="element"> Firewall &amp; Router &amp; IDS </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/bfcfac60-ec58-4e82-8b12-8779eeec0925.html" target="element">  </a> </td>
																				<td> <a href="../elements/bfcfac60-ec58-4e82-8b12-8779eeec0925.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/59ff8b16-c0ab-454f-b24b-004cd41c210a.html" target="element"> Firewall &amp; Router &amp; IDS </a> </td>
																				<td> <a href="../elements/8605a15d-e5aa-4693-bf0b-51eb725be040.html" target="element"> Facility &amp; own IT resources </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6b01ab1b-19b0-4c0a-895a-7b029ed19157.html" target="element">  </a> </td>
																				<td> <a href="../elements/6b01ab1b-19b0-4c0a-895a-7b029ed19157.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/59ff8b16-c0ab-454f-b24b-004cd41c210a.html" target="element"> Firewall &amp; Router &amp; IDS </a> </td>
																				<td> <a href="../elements/65df45d8-c2ff-49cd-92e1-d349806a058a.html" target="element"> Datacenter replica </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>