<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Future data sources and input methods</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Future data sources and input methods</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/44eae250-63fe-4dd6-93d6-cc5bb4cc23f8.png" alt="Future data sources and input methods" usemap="#44eae250-63fe-4dd6-93d6-cc5bb4cc23f8map"/>
			   <map name="44eae250-63fe-4dd6-93d6-cc5bb4cc23f8map">
				          <area shape="rect" coords="1354,142,1499,287" href="../objects/fa29f380-87a2-41ef-92f6-5ca306b19057.html" target="element" >
				  		<area shape="rect" coords="1101,418,1305,473" href="../elements/5066517f-4177-40a5-bf47-ca9aef0d1d4d.html"  target="element">
				  		<area shape="rect" coords="22,406,227,461" href="../elements/94bd0d82-de0f-4ded-aca7-c111f73bfa8d.html"  target="element">
				  		<area shape="rect" coords="623,418,816,473" href="../elements/8a8ed20e-e6ac-4b42-8c3b-9861fd410242.html"  target="element">
				  		<area shape="rect" coords="611,10,731,65" href="../elements/76ffcdbd-2ee4-4279-81ce-5ca950cb85b0.html"  target="element">
				  				<area shape="rect" coords="1150,178,1270,233" href="../elements/580e849d-6b1a-4df6-88cc-1bf90a132134.html"  target="element">
				  				<area shape="rect" coords="994,178,1114,233" href="../elements/4f38b815-73b9-49b3-b24e-d3d7f970c897.html"  target="element">
				  				<area shape="rect" coords="82,178,202,233" href="../elements/422ab703-66ee-474a-a261-2182505d0774.html"  target="element">
				  				<area shape="rect" coords="238,178,358,233" href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html"  target="element">
				  				<area shape="rect" coords="694,178,814,233" href="../elements/d833da6a-b355-48e6-b8fa-f2233d4827ba.html"  target="element">
				  				<area shape="rect" coords="394,178,514,233" href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html"  target="element">
				  				<area shape="rect" coords="838,178,958,233" href="../elements/97299300-cbb5-47a2-a4d8-c7b2a0fefa15.html"  target="element">
				  				<area shape="rect" coords="538,178,658,233" href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html"  target="element">

				  		<area shape="rect" coords="22,142,1343,287" href="../elements/951b266b-1cf6-40de-895d-fa3d69e07060.html"  target="element">
				  		<area shape="rect" coords="82,10,202,65" href="../elements/eef59ad8-505f-4cf0-be75-61555918bc8e.html"  target="element">
				  		<area shape="rect" coords="274,10,394,65" href="../elements/916e79c0-f5de-43ce-a62c-ffd92dbaab3b.html"  target="element">
				  		<area shape="rect" coords="250,550,370,605" href="../elements/08547859-4066-4d9e-bfac-91c629ab2637.html"  target="element">
				  		<area shape="rect" coords="250,478,370,533" href="../elements/05a526ce-92ba-48ee-a202-461764c7dbb9.html"  target="element">
				  		<area shape="rect" coords="851,574,971,629" href="../elements/3e96af03-af2b-4d53-a1ac-35ac89ea158b.html"  target="element">
				  		<area shape="rect" coords="851,646,971,701" href="../elements/2fd25062-9433-4f65-b8ba-7481f6d7f87b.html"  target="element">
				  		<area shape="rect" coords="1330,490,1450,545" href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html"  target="element">
				  		<area shape="rect" coords="851,490,971,545" href="../elements/e7a264f1-4df1-4139-97e9-daf2ff82ac94.html"  target="element">
				  				<area shape="rect" coords="1137,658,1257,713" href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html"  target="element">
				  				<area shape="rect" coords="1137,790,1257,845" href="../elements/97299300-cbb5-47a2-a4d8-c7b2a0fefa15.html"  target="element">
				  				<area shape="rect" coords="1137,538,1257,593" href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html"  target="element">
				  				<area shape="rect" coords="1137,598,1257,653" href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html"  target="element">
				  				<area shape="rect" coords="1137,724,1257,779" href="../elements/580e849d-6b1a-4df6-88cc-1bf90a132134.html"  target="element">
				  				<area shape="rect" coords="1137,850,1257,905" href="../elements/4f38b815-73b9-49b3-b24e-d3d7f970c897.html"  target="element">

				  		<area shape="rect" coords="1089,490,1306,911" href="../elements/0cca7574-e96f-406b-ab5c-9b7da6b64e3f.html"  target="element">
				  				<area shape="rect" coords="58,658,178,713" href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html"  target="element">
				  				<area shape="rect" coords="58,526,178,581" href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html"  target="element">
				  				<area shape="rect" coords="58,598,178,653" href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html"  target="element">

				  		<area shape="rect" coords="10,478,227,899" href="../elements/0e4886f3-55bf-46f9-b257-d7ff4399859a.html"  target="element">
				  				<area shape="rect" coords="659,838,779,893" href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html"  target="element">
				  				<area shape="rect" coords="659,658,779,713" href="../elements/d4060f14-0cee-48bc-986a-456c61db983b.html"  target="element">
				  				<area shape="rect" coords="659,718,779,773" href="../elements/d833da6a-b355-48e6-b8fa-f2233d4827ba.html"  target="element">
				  				<area shape="rect" coords="659,778,779,833" href="../elements/97299300-cbb5-47a2-a4d8-c7b2a0fefa15.html"  target="element">
				  				<area shape="rect" coords="659,538,779,593" href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html"  target="element">
				  				<area shape="rect" coords="659,598,779,653" href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html"  target="element">

				  		<area shape="rect" coords="611,490,816,911" href="../elements/6a1cd121-5fab-48bc-9249-bc2f369f2929.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/6a1cd121-5fab-48bc-9249-bc2f369f2929.html" target="element"> Logistica </a> </td>
											    <td> <a href="../elements/6a1cd121-5fab-48bc-9249-bc2f369f2929.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element"> Order information </a> </td>
													    <td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html" target="element"> Product information </a> </td>
													    <td> <a href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/97299300-cbb5-47a2-a4d8-c7b2a0fefa15.html" target="element"> Shipment information </a> </td>
													    <td> <a href="../elements/97299300-cbb5-47a2-a4d8-c7b2a0fefa15.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d833da6a-b355-48e6-b8fa-f2233d4827ba.html" target="element"> Inventory information </a> </td>
													    <td> <a href="../elements/d833da6a-b355-48e6-b8fa-f2233d4827ba.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d4060f14-0cee-48bc-986a-456c61db983b.html" target="element"> Manufacturing information </a> </td>
													    <td> <a href="../elements/d4060f14-0cee-48bc-986a-456c61db983b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element"> Customer information </a> </td>
													    <td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/0e4886f3-55bf-46f9-b257-d7ff4399859a.html" target="element"> SalesFront </a> </td>
											    <td> <a href="../elements/0e4886f3-55bf-46f9-b257-d7ff4399859a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element"> Customer information </a> </td>
													    <td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html" target="element"> Product information </a> </td>
													    <td> <a href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element"> Order information </a> </td>
													    <td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/0cca7574-e96f-406b-ab5c-9b7da6b64e3f.html" target="element"> Cashman </a> </td>
											    <td> <a href="../elements/0cca7574-e96f-406b-ab5c-9b7da6b64e3f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/4f38b815-73b9-49b3-b24e-d3d7f970c897.html" target="element"> Invoice data </a> </td>
													    <td> <a href="../elements/4f38b815-73b9-49b3-b24e-d3d7f970c897.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/580e849d-6b1a-4df6-88cc-1bf90a132134.html" target="element"> Payment data </a> </td>
													    <td> <a href="../elements/580e849d-6b1a-4df6-88cc-1bf90a132134.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element"> Customer information </a> </td>
													    <td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html" target="element"> Product information </a> </td>
													    <td> <a href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/97299300-cbb5-47a2-a4d8-c7b2a0fefa15.html" target="element"> Shipment information </a> </td>
													    <td> <a href="../elements/97299300-cbb5-47a2-a4d8-c7b2a0fefa15.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element"> Order information </a> </td>
													    <td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/e7a264f1-4df1-4139-97e9-daf2ff82ac94.html" target="element"> Purchase division </a> </td>
											    <td> <a href="../elements/e7a264f1-4df1-4139-97e9-daf2ff82ac94.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html" target="element"> Finance department </a> </td>
											    <td> <a href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2fd25062-9433-4f65-b8ba-7481f6d7f87b.html" target="element"> Production department manager </a> </td>
											    <td> <a href="../elements/2fd25062-9433-4f65-b8ba-7481f6d7f87b.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3e96af03-af2b-4d53-a1ac-35ac89ea158b.html" target="element"> Supply department </a> </td>
											    <td> <a href="../elements/3e96af03-af2b-4d53-a1ac-35ac89ea158b.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/05a526ce-92ba-48ee-a202-461764c7dbb9.html" target="element"> Sales manager </a> </td>
											    <td> <a href="../elements/05a526ce-92ba-48ee-a202-461764c7dbb9.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/08547859-4066-4d9e-bfac-91c629ab2637.html" target="element"> Marketing intermediary </a> </td>
											    <td> <a href="../elements/08547859-4066-4d9e-bfac-91c629ab2637.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/916e79c0-f5de-43ce-a62c-ffd92dbaab3b.html" target="element"> Regional sales person </a> </td>
											    <td> <a href="../elements/916e79c0-f5de-43ce-a62c-ffd92dbaab3b.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/eef59ad8-505f-4cf0-be75-61555918bc8e.html" target="element"> Marketing department </a> </td>
											    <td> <a href="../elements/eef59ad8-505f-4cf0-be75-61555918bc8e.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/951b266b-1cf6-40de-895d-fa3d69e07060.html" target="element"> Magento solution </a> </td>
											    <td> <a href="../elements/951b266b-1cf6-40de-895d-fa3d69e07060.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html" target="element"> Product information </a> </td>
													    <td> <a href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/97299300-cbb5-47a2-a4d8-c7b2a0fefa15.html" target="element"> Shipment information </a> </td>
													    <td> <a href="../elements/97299300-cbb5-47a2-a4d8-c7b2a0fefa15.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element"> Order information </a> </td>
													    <td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d833da6a-b355-48e6-b8fa-f2233d4827ba.html" target="element"> Inventory information </a> </td>
													    <td> <a href="../elements/d833da6a-b355-48e6-b8fa-f2233d4827ba.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element"> Customer information </a> </td>
													    <td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/422ab703-66ee-474a-a261-2182505d0774.html" target="element"> Market information </a> </td>
													    <td> <a href="../elements/422ab703-66ee-474a-a261-2182505d0774.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4f38b815-73b9-49b3-b24e-d3d7f970c897.html" target="element"> Invoice data </a> </td>
													    <td> <a href="../elements/4f38b815-73b9-49b3-b24e-d3d7f970c897.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/580e849d-6b1a-4df6-88cc-1bf90a132134.html" target="element"> Payment data </a> </td>
													    <td> <a href="../elements/580e849d-6b1a-4df6-88cc-1bf90a132134.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/76ffcdbd-2ee4-4279-81ce-5ca950cb85b0.html" target="element"> Customer </a> </td>
											    <td> <a href="../elements/76ffcdbd-2ee4-4279-81ce-5ca950cb85b0.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8a8ed20e-e6ac-4b42-8c3b-9861fd410242.html" target="element"> Magento DB2 interface </a> </td>
											    <td> <a href="../elements/8a8ed20e-e6ac-4b42-8c3b-9861fd410242.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/94bd0d82-de0f-4ded-aca7-c111f73bfa8d.html" target="element"> Oracle forms API endpoint </a> </td>
											    <td> <a href="../elements/94bd0d82-de0f-4ded-aca7-c111f73bfa8d.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5066517f-4177-40a5-bf47-ca9aef0d1d4d.html" target="element"> PostgreSQL to Magento interface </a> </td>
											    <td> <a href="../elements/5066517f-4177-40a5-bf47-ca9aef0d1d4d.html" target="element" class="i18n-elementtype-TechnologyCollaboration"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/fa29f380-87a2-41ef-92f6-5ca306b19057.html" target="element">  </a> </td>
									           <td> <a href="../objects/fa29f380-87a2-41ef-92f6-5ca306b19057.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																			<tr>
																				<td> <a href="../elements/82561c01-ca13-43fd-a4df-7ac134acaf5a.html" target="element">  </a> </td>
																				<td> <a href="../elements/82561c01-ca13-43fd-a4df-7ac134acaf5a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element"> Order information </a> </td>
																				<td> <a href="../elements/6a1cd121-5fab-48bc-9249-bc2f369f2929.html" target="element"> Logistica </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/fe1128fe-e7f6-48b9-ab72-f295c70c638d.html" target="element">  </a> </td>
																		<td> <a href="../elements/fe1128fe-e7f6-48b9-ab72-f295c70c638d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/0e4886f3-55bf-46f9-b257-d7ff4399859a.html" target="element"> SalesFront </a> </td>
																		<td> <a href="../elements/05a526ce-92ba-48ee-a202-461764c7dbb9.html" target="element"> Sales manager </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/e2796609-a313-4fdd-80ed-c8e53865b99f.html" target="element">  </a> </td>
																				<td> <a href="../elements/e2796609-a313-4fdd-80ed-c8e53865b99f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element"> Customer information </a> </td>
																				<td> <a href="../elements/0e4886f3-55bf-46f9-b257-d7ff4399859a.html" target="element"> SalesFront </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/bdbc383a-a72c-4439-8643-895886636bfb.html" target="element">  </a> </td>
																				<td> <a href="../elements/bdbc383a-a72c-4439-8643-895886636bfb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element"> Order information </a> </td>
																				<td> <a href="../elements/0e4886f3-55bf-46f9-b257-d7ff4399859a.html" target="element"> SalesFront </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/c55c9568-b7d7-466d-999e-e08a19603238.html" target="element">  </a> </td>
																		<td> <a href="../elements/c55c9568-b7d7-466d-999e-e08a19603238.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/0cca7574-e96f-406b-ab5c-9b7da6b64e3f.html" target="element"> Cashman </a> </td>
																		<td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element"> Customer information </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/404bd901-9ac0-4788-873e-ab421f327319.html" target="element">  </a> </td>
																		<td> <a href="../elements/404bd901-9ac0-4788-873e-ab421f327319.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/e7a264f1-4df1-4139-97e9-daf2ff82ac94.html" target="element"> Purchase division </a> </td>
																		<td> <a href="../elements/6a1cd121-5fab-48bc-9249-bc2f369f2929.html" target="element"> Logistica </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d398dc6b-193f-46ef-bcdd-0ecbfa87abcc.html" target="element">  </a> </td>
																		<td> <a href="../elements/d398dc6b-193f-46ef-bcdd-0ecbfa87abcc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html" target="element"> Finance department </a> </td>
																		<td> <a href="../elements/0cca7574-e96f-406b-ab5c-9b7da6b64e3f.html" target="element"> Cashman </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ef04f5db-219a-4a22-817d-ab28d56a899a.html" target="element">  </a> </td>
																		<td> <a href="../elements/ef04f5db-219a-4a22-817d-ab28d56a899a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/2fd25062-9433-4f65-b8ba-7481f6d7f87b.html" target="element"> Production department manager </a> </td>
																		<td> <a href="../elements/6a1cd121-5fab-48bc-9249-bc2f369f2929.html" target="element"> Logistica </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5bd95fab-3398-49fa-9d63-fb6498622eec.html" target="element">  </a> </td>
																		<td> <a href="../elements/5bd95fab-3398-49fa-9d63-fb6498622eec.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/3e96af03-af2b-4d53-a1ac-35ac89ea158b.html" target="element"> Supply department </a> </td>
																		<td> <a href="../elements/6a1cd121-5fab-48bc-9249-bc2f369f2929.html" target="element"> Logistica </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/094cad31-4bc1-459a-91de-c185ddbb7533.html" target="element">  </a> </td>
																		<td> <a href="../elements/094cad31-4bc1-459a-91de-c185ddbb7533.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/08547859-4066-4d9e-bfac-91c629ab2637.html" target="element"> Marketing intermediary </a> </td>
																		<td> <a href="../elements/0e4886f3-55bf-46f9-b257-d7ff4399859a.html" target="element"> SalesFront </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8d403625-3788-4f6c-8d50-c23673822a94.html" target="element"> Enters order </a> </td>
																		<td> <a href="../elements/8d403625-3788-4f6c-8d50-c23673822a94.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/916e79c0-f5de-43ce-a62c-ffd92dbaab3b.html" target="element"> Regional sales person </a> </td>
																		<td> <a href="../elements/951b266b-1cf6-40de-895d-fa3d69e07060.html" target="element"> Magento solution </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/70e97b81-38ba-4b63-86e7-4fa4c59a4868.html" target="element"> Uses BI tools for marketing </a> </td>
																		<td> <a href="../elements/70e97b81-38ba-4b63-86e7-4fa4c59a4868.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/eef59ad8-505f-4cf0-be75-61555918bc8e.html" target="element"> Marketing department </a> </td>
																		<td> <a href="../elements/422ab703-66ee-474a-a261-2182505d0774.html" target="element"> Market information </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/de2e3afb-1568-45e6-9bb5-b9b29e8e86b1.html" target="element">  </a> </td>
																				<td> <a href="../elements/de2e3afb-1568-45e6-9bb5-b9b29e8e86b1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html" target="element"> Product information </a> </td>
																				<td> <a href="../elements/94bd0d82-de0f-4ded-aca7-c111f73bfa8d.html" target="element"> Oracle forms API endpoint </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b6fbd1d6-c88b-4f1b-97ad-1288ca10fbea.html" target="element">  </a> </td>
																				<td> <a href="../elements/b6fbd1d6-c88b-4f1b-97ad-1288ca10fbea.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html" target="element"> Product information </a> </td>
																				<td> <a href="../elements/5066517f-4177-40a5-bf47-ca9aef0d1d4d.html" target="element"> PostgreSQL to Magento interface </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/6a26a10f-1015-4751-b714-3dca74a0cfa5.html" target="element">  </a> </td>
																				<td> <a href="../elements/6a26a10f-1015-4751-b714-3dca74a0cfa5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/97299300-cbb5-47a2-a4d8-c7b2a0fefa15.html" target="element"> Shipment information </a> </td>
																				<td> <a href="../elements/8a8ed20e-e6ac-4b42-8c3b-9861fd410242.html" target="element"> Magento DB2 interface </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b1a18818-ceb1-453a-9021-6193267eed79.html" target="element">  </a> </td>
																				<td> <a href="../elements/b1a18818-ceb1-453a-9021-6193267eed79.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/97299300-cbb5-47a2-a4d8-c7b2a0fefa15.html" target="element"> Shipment information </a> </td>
																				<td> <a href="../elements/5066517f-4177-40a5-bf47-ca9aef0d1d4d.html" target="element"> PostgreSQL to Magento interface </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/0d167060-1c07-4141-8f16-868e3e2977eb.html" target="element">  </a> </td>
																				<td> <a href="../elements/0d167060-1c07-4141-8f16-868e3e2977eb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element"> Order information </a> </td>
																				<td> <a href="../elements/94bd0d82-de0f-4ded-aca7-c111f73bfa8d.html" target="element"> Oracle forms API endpoint </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/bd4bed32-bd21-46d3-9f00-00c0b2fd8f55.html" target="element">  </a> </td>
																				<td> <a href="../elements/bd4bed32-bd21-46d3-9f00-00c0b2fd8f55.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element"> Order information </a> </td>
																				<td> <a href="../elements/8a8ed20e-e6ac-4b42-8c3b-9861fd410242.html" target="element"> Magento DB2 interface </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9a4acc17-6a36-46be-9e75-7978f7f5ac42.html" target="element">  </a> </td>
																				<td> <a href="../elements/9a4acc17-6a36-46be-9e75-7978f7f5ac42.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element"> Order information </a> </td>
																				<td> <a href="../elements/5066517f-4177-40a5-bf47-ca9aef0d1d4d.html" target="element"> PostgreSQL to Magento interface </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/35356015-daf0-434a-a794-5f90d0e549e7.html" target="element">  </a> </td>
																				<td> <a href="../elements/35356015-daf0-434a-a794-5f90d0e549e7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/d833da6a-b355-48e6-b8fa-f2233d4827ba.html" target="element"> Inventory information </a> </td>
																				<td> <a href="../elements/8a8ed20e-e6ac-4b42-8c3b-9861fd410242.html" target="element"> Magento DB2 interface </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/3dc01d3c-6f9e-4f94-bed3-c52bb2b8cdb3.html" target="element">  </a> </td>
																				<td> <a href="../elements/3dc01d3c-6f9e-4f94-bed3-c52bb2b8cdb3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element"> Customer information </a> </td>
																				<td> <a href="../elements/94bd0d82-de0f-4ded-aca7-c111f73bfa8d.html" target="element"> Oracle forms API endpoint </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f6008fd4-b085-49b2-a74b-ddc11d381baf.html" target="element">  </a> </td>
																				<td> <a href="../elements/f6008fd4-b085-49b2-a74b-ddc11d381baf.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element"> Customer information </a> </td>
																				<td> <a href="../elements/8a8ed20e-e6ac-4b42-8c3b-9861fd410242.html" target="element"> Magento DB2 interface </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/99529687-b2bd-49f8-9fe3-e1f118d2bdbc.html" target="element">  </a> </td>
																				<td> <a href="../elements/99529687-b2bd-49f8-9fe3-e1f118d2bdbc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element"> Customer information </a> </td>
																				<td> <a href="../elements/5066517f-4177-40a5-bf47-ca9aef0d1d4d.html" target="element"> PostgreSQL to Magento interface </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/e7a87e4c-cd89-41af-a3af-d63dc177b34e.html" target="element">  </a> </td>
																				<td> <a href="../elements/e7a87e4c-cd89-41af-a3af-d63dc177b34e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/4f38b815-73b9-49b3-b24e-d3d7f970c897.html" target="element"> Invoice data </a> </td>
																				<td> <a href="../elements/5066517f-4177-40a5-bf47-ca9aef0d1d4d.html" target="element"> PostgreSQL to Magento interface </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/cbf198bd-af61-4127-8183-8d821cc49734.html" target="element">  </a> </td>
																				<td> <a href="../elements/cbf198bd-af61-4127-8183-8d821cc49734.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/580e849d-6b1a-4df6-88cc-1bf90a132134.html" target="element"> Payment data </a> </td>
																				<td> <a href="../elements/5066517f-4177-40a5-bf47-ca9aef0d1d4d.html" target="element"> PostgreSQL to Magento interface </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/30a99b08-fdac-45a5-8520-41f8e1fce6be.html" target="element"> Enters order </a> </td>
																		<td> <a href="../elements/30a99b08-fdac-45a5-8520-41f8e1fce6be.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/76ffcdbd-2ee4-4279-81ce-5ca950cb85b0.html" target="element"> Customer </a> </td>
																		<td> <a href="../elements/951b266b-1cf6-40de-895d-fa3d69e07060.html" target="element"> Magento solution </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1624eef6-32b7-4906-b5d3-22a900c4249b.html" target="element"> Orders through regional sales person </a> </td>
																		<td> <a href="../elements/1624eef6-32b7-4906-b5d3-22a900c4249b.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/76ffcdbd-2ee4-4279-81ce-5ca950cb85b0.html" target="element"> Customer </a> </td>
																		<td> <a href="../elements/916e79c0-f5de-43ce-a62c-ffd92dbaab3b.html" target="element"> Regional sales person </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f5d29136-ee5a-4c55-9824-c5e035e4f4a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/f5d29136-ee5a-4c55-9824-c5e035e4f4a9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/8a8ed20e-e6ac-4b42-8c3b-9861fd410242.html" target="element"> Magento DB2 interface </a> </td>
																		<td> <a href="../elements/6a1cd121-5fab-48bc-9249-bc2f369f2929.html" target="element"> Logistica </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c4d29050-0616-4d91-b246-fc5e942c0426.html" target="element">  </a> </td>
																		<td> <a href="../elements/c4d29050-0616-4d91-b246-fc5e942c0426.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/94bd0d82-de0f-4ded-aca7-c111f73bfa8d.html" target="element"> Oracle forms API endpoint </a> </td>
																		<td> <a href="../elements/0e4886f3-55bf-46f9-b257-d7ff4399859a.html" target="element"> SalesFront </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d8bd86b4-bd01-44ce-94c8-38cae7df9345.html" target="element">  </a> </td>
																		<td> <a href="../elements/d8bd86b4-bd01-44ce-94c8-38cae7df9345.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/5066517f-4177-40a5-bf47-ca9aef0d1d4d.html" target="element"> PostgreSQL to Magento interface </a> </td>
																		<td> <a href="../elements/0cca7574-e96f-406b-ab5c-9b7da6b64e3f.html" target="element"> Cashman </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>