<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Order process</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Order process</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/59efcb78-c74e-4f44-b3db-569e043ab66d.png" alt="Order process" usemap="#59efcb78-c74e-4f44-b3db-569e043ab66dmap"/>
			   <map name="59efcb78-c74e-4f44-b3db-569e043ab66dmap">
				  		<area shape="rect" coords="395,334,515,389" href="../elements/cf9741a6-217b-4494-a6d0-dfb51b7ac142.html"  target="element">
				  		<area shape="rect" coords="514,526,634,581" href="../elements/6a1cd121-5fab-48bc-9249-bc2f369f2929.html"  target="element">
				  		<area shape="rect" coords="502,10,622,65" href="../elements/0cca7574-e96f-406b-ab5c-9b7da6b64e3f.html"  target="element">
				  		<area shape="rect" coords="202,388,322,443" href="../elements/0e4886f3-55bf-46f9-b257-d7ff4399859a.html"  target="element">
				  		<area shape="rect" coords="10,388,130,443" href="../elements/54daba34-8e5e-4b3a-aa06-c3dce19e5199.html"  target="element">
				  		<area shape="rect" coords="10,238,130,293" href="../elements/08547859-4066-4d9e-bfac-91c629ab2637.html"  target="element">
				  		<area shape="rect" coords="10,94,130,149" href="../elements/76ffcdbd-2ee4-4279-81ce-5ca950cb85b0.html"  target="element">
				  		<area shape="rect" coords="1114,334,1234,389" href="../elements/76ffcdbd-2ee4-4279-81ce-5ca950cb85b0.html"  target="element">
				  		<area shape="rect" coords="922,334,1042,389" href="../elements/e5454f73-2f11-48fe-aa6f-5e3135f3d419.html"  target="element">
				  		<area shape="rect" coords="730,334,850,389" href="../elements/ba541e01-774c-4322-a2d4-e6a0174500ea.html"  target="element">
				  		<area shape="rect" coords="562,238,682,293" href="../elements/e7a264f1-4df1-4139-97e9-daf2ff82ac94.html"  target="element">
				  		<area shape="rect" coords="562,334,682,389" href="../elements/37c14ded-e326-4131-bed2-8ef7965cdcc5.html"  target="element">
				  		<area shape="rect" coords="502,106,622,161" href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html"  target="element">
				  		<area shape="rect" coords="383,238,503,293" href="../elements/42583d43-2b7e-41b0-a1d0-d8dd45773b68.html"  target="element">
				  		<area shape="rect" coords="202,238,322,293" href="../elements/a5c00bdd-c396-40df-bf3f-ec54188ff7f4.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/a5c00bdd-c396-40df-bf3f-ec54188ff7f4.html" target="element"> New order arrives </a> </td>
											    <td> <a href="../elements/a5c00bdd-c396-40df-bf3f-ec54188ff7f4.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/42583d43-2b7e-41b0-a1d0-d8dd45773b68.html" target="element"> Sales division </a> </td>
											    <td> <a href="../elements/42583d43-2b7e-41b0-a1d0-d8dd45773b68.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html" target="element"> Finance department </a> </td>
											    <td> <a href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/37c14ded-e326-4131-bed2-8ef7965cdcc5.html" target="element"> Production unit </a> </td>
											    <td> <a href="../elements/37c14ded-e326-4131-bed2-8ef7965cdcc5.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e7a264f1-4df1-4139-97e9-daf2ff82ac94.html" target="element"> Purchase division </a> </td>
											    <td> <a href="../elements/e7a264f1-4df1-4139-97e9-daf2ff82ac94.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ba541e01-774c-4322-a2d4-e6a0174500ea.html" target="element"> Quality Control department </a> </td>
											    <td> <a href="../elements/ba541e01-774c-4322-a2d4-e6a0174500ea.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e5454f73-2f11-48fe-aa6f-5e3135f3d419.html" target="element"> Warehouse management </a> </td>
											    <td> <a href="../elements/e5454f73-2f11-48fe-aa6f-5e3135f3d419.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/76ffcdbd-2ee4-4279-81ce-5ca950cb85b0.html" target="element"> Customer </a> </td>
											    <td> <a href="../elements/76ffcdbd-2ee4-4279-81ce-5ca950cb85b0.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/76ffcdbd-2ee4-4279-81ce-5ca950cb85b0.html" target="element"> Customer </a> </td>
											    <td> <a href="../elements/76ffcdbd-2ee4-4279-81ce-5ca950cb85b0.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/08547859-4066-4d9e-bfac-91c629ab2637.html" target="element"> Marketing intermediary </a> </td>
											    <td> <a href="../elements/08547859-4066-4d9e-bfac-91c629ab2637.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/54daba34-8e5e-4b3a-aa06-c3dce19e5199.html" target="element"> Statistica </a> </td>
											    <td> <a href="../elements/54daba34-8e5e-4b3a-aa06-c3dce19e5199.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0e4886f3-55bf-46f9-b257-d7ff4399859a.html" target="element"> SalesFront </a> </td>
											    <td> <a href="../elements/0e4886f3-55bf-46f9-b257-d7ff4399859a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0cca7574-e96f-406b-ab5c-9b7da6b64e3f.html" target="element"> Cashman </a> </td>
											    <td> <a href="../elements/0cca7574-e96f-406b-ab5c-9b7da6b64e3f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6a1cd121-5fab-48bc-9249-bc2f369f2929.html" target="element"> Logistica </a> </td>
											    <td> <a href="../elements/6a1cd121-5fab-48bc-9249-bc2f369f2929.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cf9741a6-217b-4494-a6d0-dfb51b7ac142.html" target="element"> Production division </a> </td>
											    <td> <a href="../elements/cf9741a6-217b-4494-a6d0-dfb51b7ac142.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/d10b0a7c-aeed-4f57-9ffc-a3b1c7de02c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/d10b0a7c-aeed-4f57-9ffc-a3b1c7de02c2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/a5c00bdd-c396-40df-bf3f-ec54188ff7f4.html" target="element"> New order arrives </a> </td>
																		<td> <a href="../elements/42583d43-2b7e-41b0-a1d0-d8dd45773b68.html" target="element"> Sales division </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/28c26b46-1ac0-4c11-b530-a8fbe915c3d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/28c26b46-1ac0-4c11-b530-a8fbe915c3d2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/42583d43-2b7e-41b0-a1d0-d8dd45773b68.html" target="element"> Sales division </a> </td>
																		<td> <a href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html" target="element"> Finance department </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b485f204-7450-47a4-b2fa-71044809bfd2.html" target="element">  </a> </td>
																		<td> <a href="../elements/b485f204-7450-47a4-b2fa-71044809bfd2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/42583d43-2b7e-41b0-a1d0-d8dd45773b68.html" target="element"> Sales division </a> </td>
																		<td> <a href="../elements/cf9741a6-217b-4494-a6d0-dfb51b7ac142.html" target="element"> Production division </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c498e41a-0ecc-46be-a17f-6d7892ef976c.html" target="element">  </a> </td>
																		<td> <a href="../elements/c498e41a-0ecc-46be-a17f-6d7892ef976c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/37c14ded-e326-4131-bed2-8ef7965cdcc5.html" target="element"> Production unit </a> </td>
																		<td> <a href="../elements/ba541e01-774c-4322-a2d4-e6a0174500ea.html" target="element"> Quality Control department </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6f0f987f-2694-4cff-b242-178586e3aa63.html" target="element">  </a> </td>
																		<td> <a href="../elements/6f0f987f-2694-4cff-b242-178586e3aa63.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/e7a264f1-4df1-4139-97e9-daf2ff82ac94.html" target="element"> Purchase division </a> </td>
																		<td> <a href="../elements/cf9741a6-217b-4494-a6d0-dfb51b7ac142.html" target="element"> Production division </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/dfe278c9-55e4-4516-aee9-14ff686b8b2c.html" target="element">  </a> </td>
																		<td> <a href="../elements/dfe278c9-55e4-4516-aee9-14ff686b8b2c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/ba541e01-774c-4322-a2d4-e6a0174500ea.html" target="element"> Quality Control department </a> </td>
																		<td> <a href="../elements/e5454f73-2f11-48fe-aa6f-5e3135f3d419.html" target="element"> Warehouse management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/28d272dc-60e4-465d-af73-4e32e9a270cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/28d272dc-60e4-465d-af73-4e32e9a270cd.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/e5454f73-2f11-48fe-aa6f-5e3135f3d419.html" target="element"> Warehouse management </a> </td>
																		<td> <a href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html" target="element"> Finance department </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4d5c69fd-19c4-4190-ade8-551fd75c5efc.html" target="element">  </a> </td>
																		<td> <a href="../elements/4d5c69fd-19c4-4190-ade8-551fd75c5efc.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/e5454f73-2f11-48fe-aa6f-5e3135f3d419.html" target="element"> Warehouse management </a> </td>
																		<td> <a href="../elements/76ffcdbd-2ee4-4279-81ce-5ca950cb85b0.html" target="element"> Customer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/315ef362-5fec-4092-9eaf-408fd3a33e16.html" target="element">  </a> </td>
																		<td> <a href="../elements/315ef362-5fec-4092-9eaf-408fd3a33e16.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/76ffcdbd-2ee4-4279-81ce-5ca950cb85b0.html" target="element"> Customer </a> </td>
																		<td> <a href="../elements/08547859-4066-4d9e-bfac-91c629ab2637.html" target="element"> Marketing intermediary </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/663b1d47-61b8-414c-82d1-9b54022e41c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/663b1d47-61b8-414c-82d1-9b54022e41c3.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/08547859-4066-4d9e-bfac-91c629ab2637.html" target="element"> Marketing intermediary </a> </td>
																		<td> <a href="../elements/a5c00bdd-c396-40df-bf3f-ec54188ff7f4.html" target="element"> New order arrives </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e8f84ffd-4c2c-4f66-84a1-46af35e0c2f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/e8f84ffd-4c2c-4f66-84a1-46af35e0c2f6.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/54daba34-8e5e-4b3a-aa06-c3dce19e5199.html" target="element"> Statistica </a> </td>
																		<td> <a href="../elements/08547859-4066-4d9e-bfac-91c629ab2637.html" target="element"> Marketing intermediary </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d98403f5-9f51-43cb-9015-6ae91c50c8bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/d98403f5-9f51-43cb-9015-6ae91c50c8bb.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0e4886f3-55bf-46f9-b257-d7ff4399859a.html" target="element"> SalesFront </a> </td>
																		<td> <a href="../elements/a5c00bdd-c396-40df-bf3f-ec54188ff7f4.html" target="element"> New order arrives </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/431544a2-388c-4f98-a9ce-988327e3c910.html" target="element">  </a> </td>
																		<td> <a href="../elements/431544a2-388c-4f98-a9ce-988327e3c910.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/0cca7574-e96f-406b-ab5c-9b7da6b64e3f.html" target="element"> Cashman </a> </td>
																		<td> <a href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html" target="element"> Finance department </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1e4a9f6d-a7ae-4ac4-b3af-56db2f8c4a41.html" target="element">  </a> </td>
																		<td> <a href="../elements/1e4a9f6d-a7ae-4ac4-b3af-56db2f8c4a41.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/6a1cd121-5fab-48bc-9249-bc2f369f2929.html" target="element"> Logistica </a> </td>
																		<td> <a href="../elements/ba541e01-774c-4322-a2d4-e6a0174500ea.html" target="element"> Quality Control department </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/54f32e41-e61a-4e7b-92e6-1796964775bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/54f32e41-e61a-4e7b-92e6-1796964775bd.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/6a1cd121-5fab-48bc-9249-bc2f369f2929.html" target="element"> Logistica </a> </td>
																		<td> <a href="../elements/e5454f73-2f11-48fe-aa6f-5e3135f3d419.html" target="element"> Warehouse management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2cfb0a5b-ea23-4d53-9be2-69301a1a425f.html" target="element">  </a> </td>
																		<td> <a href="../elements/2cfb0a5b-ea23-4d53-9be2-69301a1a425f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/6a1cd121-5fab-48bc-9249-bc2f369f2929.html" target="element"> Logistica </a> </td>
																		<td> <a href="../elements/37c14ded-e326-4131-bed2-8ef7965cdcc5.html" target="element"> Production unit </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/acc5b592-5864-4aab-b55b-0ed0b9bb0a18.html" target="element">  </a> </td>
																		<td> <a href="../elements/acc5b592-5864-4aab-b55b-0ed0b9bb0a18.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/cf9741a6-217b-4494-a6d0-dfb51b7ac142.html" target="element"> Production division </a> </td>
																		<td> <a href="../elements/37c14ded-e326-4131-bed2-8ef7965cdcc5.html" target="element"> Production unit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0b0b0a6e-38e6-4581-80b5-274917b63a20.html" target="element">  </a> </td>
																		<td> <a href="../elements/0b0b0a6e-38e6-4581-80b5-274917b63a20.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/cf9741a6-217b-4494-a6d0-dfb51b7ac142.html" target="element"> Production division </a> </td>
																		<td> <a href="../elements/6a1cd121-5fab-48bc-9249-bc2f369f2929.html" target="element"> Logistica </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>