<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Organisational view</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Organisational view</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/6f65839e-46b1-46fa-b83d-ebc89ee1843f.png" alt="Organisational view" usemap="#6f65839e-46b1-46fa-b83d-ebc89ee1843fmap"/>
			   <map name="6f65839e-46b1-46fa-b83d-ebc89ee1843fmap">
				  						<area shape="rect" coords="502,334,622,389" href="../elements/14d57bc4-e778-41a9-818c-4c9523397bf9.html"  target="element">
				  						<area shape="rect" coords="634,334,754,389" href="../elements/f8effcfc-c912-4021-9745-8942adab569e.html"  target="element">
				  						<area shape="rect" coords="370,334,490,389" href="../elements/1fba80db-2165-4db3-9fa2-83d5251c577b.html"  target="element">

				  				<area shape="rect" coords="358,298,767,407" href="../elements/8b817d85-47c5-4832-a190-4c775c3937eb.html"  target="element">
				  						<area shape="rect" coords="190,334,310,389" href="../elements/bda09a2c-3b31-4f10-a773-3144745b4c08.html"  target="element">
				  						<area shape="rect" coords="58,334,178,389" href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html"  target="element">

				  				<area shape="rect" coords="46,298,347,407" href="../elements/1e8d26ad-2339-4ec2-8025-b2625960ffc6.html"  target="element">
				  						<area shape="rect" coords="634,70,754,125" href="../elements/7e81de5a-4a96-4fb9-95df-c7cb0215a9c1.html"  target="element">
				  						<area shape="rect" coords="502,70,622,125" href="../elements/1ae1b5fb-23f4-47fb-afea-fc79cf81fbae.html"  target="element">
				  						<area shape="rect" coords="370,70,490,125" href="../elements/a491b903-df51-49cd-ad3f-d930149f190d.html"  target="element">

				  				<area shape="rect" coords="358,46,767,143" href="../elements/d773bd39-0053-479a-956f-4e5f4a88ee27.html"  target="element">
				  						<area shape="rect" coords="70,208,190,263" href="../elements/3e96af03-af2b-4d53-a1ac-35ac89ea158b.html"  target="element">

				  				<area shape="rect" coords="46,178,215,275" href="../elements/e7a264f1-4df1-4139-97e9-daf2ff82ac94.html"  target="element">
				  						<area shape="rect" coords="634,202,754,257" href="../elements/de87708c-e261-476f-ab52-29c39c895c99.html"  target="element">
				  						<area shape="rect" coords="502,202,622,257" href="../elements/e5454f73-2f11-48fe-aa6f-5e3135f3d419.html"  target="element">
				  						<area shape="rect" coords="370,202,490,257" href="../elements/ba541e01-774c-4322-a2d4-e6a0174500ea.html"  target="element">
				  						<area shape="rect" coords="238,202,358,257" href="../elements/37c14ded-e326-4131-bed2-8ef7965cdcc5.html"  target="element">

				  				<area shape="rect" coords="226,178,767,275" href="../elements/cf9741a6-217b-4494-a6d0-dfb51b7ac142.html"  target="element">
				  						<area shape="rect" coords="202,70,322,125" href="../elements/42583d43-2b7e-41b0-a1d0-d8dd45773b68.html"  target="element">
				  						<area shape="rect" coords="70,70,190,125" href="../elements/eef59ad8-505f-4cf0-be75-61555918bc8e.html"  target="element">

				  				<area shape="rect" coords="46,46,347,143" href="../elements/0184f6d0-7606-4c20-aa25-9b11ff9b31b4.html"  target="element">

				  		<area shape="rect" coords="10,10,815,443" href="../elements/15c22779-04f4-4844-93c3-eb82fb3a5973.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/15c22779-04f4-4844-93c3-eb82fb3a5973.html" target="element"> Case Study Company </a> </td>
											    <td> <a href="../elements/15c22779-04f4-4844-93c3-eb82fb3a5973.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/0184f6d0-7606-4c20-aa25-9b11ff9b31b4.html" target="element"> Sales &amp; marketing division </a> </td>
													    <td> <a href="../elements/0184f6d0-7606-4c20-aa25-9b11ff9b31b4.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/eef59ad8-505f-4cf0-be75-61555918bc8e.html" target="element"> Marketing department </a> </td>
															    <td> <a href="../elements/eef59ad8-505f-4cf0-be75-61555918bc8e.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/42583d43-2b7e-41b0-a1d0-d8dd45773b68.html" target="element"> Sales division </a> </td>
															    <td> <a href="../elements/42583d43-2b7e-41b0-a1d0-d8dd45773b68.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/cf9741a6-217b-4494-a6d0-dfb51b7ac142.html" target="element"> Production division </a> </td>
													    <td> <a href="../elements/cf9741a6-217b-4494-a6d0-dfb51b7ac142.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/37c14ded-e326-4131-bed2-8ef7965cdcc5.html" target="element"> Production unit </a> </td>
															    <td> <a href="../elements/37c14ded-e326-4131-bed2-8ef7965cdcc5.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/ba541e01-774c-4322-a2d4-e6a0174500ea.html" target="element"> Quality Control department </a> </td>
															    <td> <a href="../elements/ba541e01-774c-4322-a2d4-e6a0174500ea.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/e5454f73-2f11-48fe-aa6f-5e3135f3d419.html" target="element"> Warehouse management </a> </td>
															    <td> <a href="../elements/e5454f73-2f11-48fe-aa6f-5e3135f3d419.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/de87708c-e261-476f-ab52-29c39c895c99.html" target="element"> Technical department </a> </td>
															    <td> <a href="../elements/de87708c-e261-476f-ab52-29c39c895c99.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/e7a264f1-4df1-4139-97e9-daf2ff82ac94.html" target="element"> Purchase division </a> </td>
													    <td> <a href="../elements/e7a264f1-4df1-4139-97e9-daf2ff82ac94.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3e96af03-af2b-4d53-a1ac-35ac89ea158b.html" target="element"> Supply department </a> </td>
															    <td> <a href="../elements/3e96af03-af2b-4d53-a1ac-35ac89ea158b.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/d773bd39-0053-479a-956f-4e5f4a88ee27.html" target="element"> IS / IT division </a> </td>
													    <td> <a href="../elements/d773bd39-0053-479a-956f-4e5f4a88ee27.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/a491b903-df51-49cd-ad3f-d930149f190d.html" target="element"> Development group </a> </td>
															    <td> <a href="../elements/a491b903-df51-49cd-ad3f-d930149f190d.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/1ae1b5fb-23f4-47fb-afea-fc79cf81fbae.html" target="element"> Operational department </a> </td>
															    <td> <a href="../elements/1ae1b5fb-23f4-47fb-afea-fc79cf81fbae.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/7e81de5a-4a96-4fb9-95df-c7cb0215a9c1.html" target="element"> Service desk </a> </td>
															    <td> <a href="../elements/7e81de5a-4a96-4fb9-95df-c7cb0215a9c1.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/1e8d26ad-2339-4ec2-8025-b2625960ffc6.html" target="element"> Finance &amp; HR division </a> </td>
													    <td> <a href="../elements/1e8d26ad-2339-4ec2-8025-b2625960ffc6.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html" target="element"> Finance department </a> </td>
															    <td> <a href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/bda09a2c-3b31-4f10-a773-3144745b4c08.html" target="element"> Human Resources department </a> </td>
															    <td> <a href="../elements/bda09a2c-3b31-4f10-a773-3144745b4c08.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/8b817d85-47c5-4832-a190-4c775c3937eb.html" target="element"> Products design &amp; development division </a> </td>
													    <td> <a href="../elements/8b817d85-47c5-4832-a190-4c775c3937eb.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/1fba80db-2165-4db3-9fa2-83d5251c577b.html" target="element"> Product design group </a> </td>
															    <td> <a href="../elements/1fba80db-2165-4db3-9fa2-83d5251c577b.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/f8effcfc-c912-4021-9745-8942adab569e.html" target="element"> Production division management </a> </td>
															    <td> <a href="../elements/f8effcfc-c912-4021-9745-8942adab569e.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/14d57bc4-e778-41a9-818c-4c9523397bf9.html" target="element"> Sample testing group </a> </td>
															    <td> <a href="../elements/14d57bc4-e778-41a9-818c-4c9523397bf9.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/849aee20-8b7d-4a16-9cb3-269b1d844c78.html" target="element">  </a> </td>
																		<td> <a href="../elements/849aee20-8b7d-4a16-9cb3-269b1d844c78.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/15c22779-04f4-4844-93c3-eb82fb3a5973.html" target="element"> Case Study Company </a> </td>
																		<td> <a href="../elements/0184f6d0-7606-4c20-aa25-9b11ff9b31b4.html" target="element"> Sales &amp; marketing division </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/46bf5b9f-ab3c-49fb-b6ef-ced0fdb974f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/46bf5b9f-ab3c-49fb-b6ef-ced0fdb974f2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/15c22779-04f4-4844-93c3-eb82fb3a5973.html" target="element"> Case Study Company </a> </td>
																		<td> <a href="../elements/cf9741a6-217b-4494-a6d0-dfb51b7ac142.html" target="element"> Production division </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/befc7b1e-07b0-4425-b292-e76874408f7b.html" target="element">  </a> </td>
																		<td> <a href="../elements/befc7b1e-07b0-4425-b292-e76874408f7b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/15c22779-04f4-4844-93c3-eb82fb3a5973.html" target="element"> Case Study Company </a> </td>
																		<td> <a href="../elements/e7a264f1-4df1-4139-97e9-daf2ff82ac94.html" target="element"> Purchase division </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b9f351c4-6383-4d1c-8285-fe92b97c3767.html" target="element">  </a> </td>
																		<td> <a href="../elements/b9f351c4-6383-4d1c-8285-fe92b97c3767.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/15c22779-04f4-4844-93c3-eb82fb3a5973.html" target="element"> Case Study Company </a> </td>
																		<td> <a href="../elements/d773bd39-0053-479a-956f-4e5f4a88ee27.html" target="element"> IS / IT division </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ba38cbbf-2359-40a6-9acf-7e9ef4ab0cee.html" target="element">  </a> </td>
																		<td> <a href="../elements/ba38cbbf-2359-40a6-9acf-7e9ef4ab0cee.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/15c22779-04f4-4844-93c3-eb82fb3a5973.html" target="element"> Case Study Company </a> </td>
																		<td> <a href="../elements/1e8d26ad-2339-4ec2-8025-b2625960ffc6.html" target="element"> Finance &amp; HR division </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4ecdf880-6ded-4dc7-81e8-e5b6c3aea689.html" target="element">  </a> </td>
																		<td> <a href="../elements/4ecdf880-6ded-4dc7-81e8-e5b6c3aea689.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/15c22779-04f4-4844-93c3-eb82fb3a5973.html" target="element"> Case Study Company </a> </td>
																		<td> <a href="../elements/8b817d85-47c5-4832-a190-4c775c3937eb.html" target="element"> Products design &amp; development division </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/db905234-4954-482f-b63c-2a825b5ede1d.html" target="element">  </a> </td>
																				<td> <a href="../elements/db905234-4954-482f-b63c-2a825b5ede1d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/0184f6d0-7606-4c20-aa25-9b11ff9b31b4.html" target="element"> Sales &amp; marketing division </a> </td>
																				<td> <a href="../elements/eef59ad8-505f-4cf0-be75-61555918bc8e.html" target="element"> Marketing department </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/bb51deae-487e-4a95-8056-42b0039e4a1a.html" target="element">  </a> </td>
																				<td> <a href="../elements/bb51deae-487e-4a95-8056-42b0039e4a1a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/0184f6d0-7606-4c20-aa25-9b11ff9b31b4.html" target="element"> Sales &amp; marketing division </a> </td>
																				<td> <a href="../elements/42583d43-2b7e-41b0-a1d0-d8dd45773b68.html" target="element"> Sales division </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/0d1e522e-ce55-4db4-a7a7-6a983a488558.html" target="element">  </a> </td>
																				<td> <a href="../elements/0d1e522e-ce55-4db4-a7a7-6a983a488558.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/cf9741a6-217b-4494-a6d0-dfb51b7ac142.html" target="element"> Production division </a> </td>
																				<td> <a href="../elements/37c14ded-e326-4131-bed2-8ef7965cdcc5.html" target="element"> Production unit </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/fba5c027-4ae6-4bd6-a4ed-96d13b1a9ca3.html" target="element">  </a> </td>
																				<td> <a href="../elements/fba5c027-4ae6-4bd6-a4ed-96d13b1a9ca3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/cf9741a6-217b-4494-a6d0-dfb51b7ac142.html" target="element"> Production division </a> </td>
																				<td> <a href="../elements/ba541e01-774c-4322-a2d4-e6a0174500ea.html" target="element"> Quality Control department </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d9f8d0f8-11e3-4b2d-8ff9-6bdbd03a198a.html" target="element">  </a> </td>
																				<td> <a href="../elements/d9f8d0f8-11e3-4b2d-8ff9-6bdbd03a198a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/cf9741a6-217b-4494-a6d0-dfb51b7ac142.html" target="element"> Production division </a> </td>
																				<td> <a href="../elements/e5454f73-2f11-48fe-aa6f-5e3135f3d419.html" target="element"> Warehouse management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b79867bd-5b20-4936-a8c4-cc5bc7de898c.html" target="element">  </a> </td>
																				<td> <a href="../elements/b79867bd-5b20-4936-a8c4-cc5bc7de898c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/cf9741a6-217b-4494-a6d0-dfb51b7ac142.html" target="element"> Production division </a> </td>
																				<td> <a href="../elements/de87708c-e261-476f-ab52-29c39c895c99.html" target="element"> Technical department </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/d8129b77-7522-49fd-864a-a76002211331.html" target="element">  </a> </td>
																				<td> <a href="../elements/d8129b77-7522-49fd-864a-a76002211331.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/e7a264f1-4df1-4139-97e9-daf2ff82ac94.html" target="element"> Purchase division </a> </td>
																				<td> <a href="../elements/3e96af03-af2b-4d53-a1ac-35ac89ea158b.html" target="element"> Supply department </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/2a460994-12b7-4ed3-a270-d17903143675.html" target="element">  </a> </td>
																				<td> <a href="../elements/2a460994-12b7-4ed3-a270-d17903143675.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/d773bd39-0053-479a-956f-4e5f4a88ee27.html" target="element"> IS / IT division </a> </td>
																				<td> <a href="../elements/a491b903-df51-49cd-ad3f-d930149f190d.html" target="element"> Development group </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/38fea280-c6ce-4d92-ac4e-1e14b0197a23.html" target="element">  </a> </td>
																				<td> <a href="../elements/38fea280-c6ce-4d92-ac4e-1e14b0197a23.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/d773bd39-0053-479a-956f-4e5f4a88ee27.html" target="element"> IS / IT division </a> </td>
																				<td> <a href="../elements/1ae1b5fb-23f4-47fb-afea-fc79cf81fbae.html" target="element"> Operational department </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d7aba4dc-af35-482a-aff2-3f8cee7a3e6e.html" target="element">  </a> </td>
																				<td> <a href="../elements/d7aba4dc-af35-482a-aff2-3f8cee7a3e6e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/d773bd39-0053-479a-956f-4e5f4a88ee27.html" target="element"> IS / IT division </a> </td>
																				<td> <a href="../elements/7e81de5a-4a96-4fb9-95df-c7cb0215a9c1.html" target="element"> Service desk </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/d7d69319-8bc8-4cd3-9644-c66deb5aa2ad.html" target="element">  </a> </td>
																				<td> <a href="../elements/d7d69319-8bc8-4cd3-9644-c66deb5aa2ad.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/1e8d26ad-2339-4ec2-8025-b2625960ffc6.html" target="element"> Finance &amp; HR division </a> </td>
																				<td> <a href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html" target="element"> Finance department </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b04fa911-35d3-4ef1-8a74-35627ad37351.html" target="element">  </a> </td>
																				<td> <a href="../elements/b04fa911-35d3-4ef1-8a74-35627ad37351.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/1e8d26ad-2339-4ec2-8025-b2625960ffc6.html" target="element"> Finance &amp; HR division </a> </td>
																				<td> <a href="../elements/bda09a2c-3b31-4f10-a773-3144745b4c08.html" target="element"> Human Resources department </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/e1943aaa-72a5-499f-aac7-64c5ffd132d7.html" target="element">  </a> </td>
																				<td> <a href="../elements/e1943aaa-72a5-499f-aac7-64c5ffd132d7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/8b817d85-47c5-4832-a190-4c775c3937eb.html" target="element"> Products design &amp; development division </a> </td>
																				<td> <a href="../elements/1fba80db-2165-4db3-9fa2-83d5251c577b.html" target="element"> Product design group </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f5c3b88e-9821-497e-a2ab-6b7963176f08.html" target="element">  </a> </td>
																				<td> <a href="../elements/f5c3b88e-9821-497e-a2ab-6b7963176f08.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/8b817d85-47c5-4832-a190-4c775c3937eb.html" target="element"> Products design &amp; development division </a> </td>
																				<td> <a href="../elements/f8effcfc-c912-4021-9745-8942adab569e.html" target="element"> Production division management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/11244573-a8bb-4131-b813-ca2e71e563fd.html" target="element">  </a> </td>
																				<td> <a href="../elements/11244573-a8bb-4131-b813-ca2e71e563fd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/8b817d85-47c5-4832-a190-4c775c3937eb.html" target="element"> Products design &amp; development division </a> </td>
																				<td> <a href="../elements/14d57bc4-e778-41a9-818c-4c9523397bf9.html" target="element"> Sample testing group </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>