<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Future Order process with events and functions and systems</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Future Order process with events and functions and systems</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/8bc79c3f-b973-494c-8b9d-3f707bf2e2bb.png" alt="Future Order process with events and functions and systems" usemap="#8bc79c3f-b973-494c-8b9d-3f707bf2e2bbmap"/>
			   <map name="8bc79c3f-b973-494c-8b9d-3f707bf2e2bbmap">
				  		<area shape="rect" coords="10,574,1787,629" href="../elements/1e4d4c1b-01a1-4348-8798-26e6f2bf2214.html"  target="element">
				  		<area shape="rect" coords="490,502,1787,557" href="../elements/92e6d273-921d-4cce-8813-4ec48f2e2185.html"  target="element">
				  		<area shape="rect" coords="82,418,563,473" href="../elements/0caaa0d8-8edc-43ea-8994-84f8366b595f.html"  target="element">
				  		<area shape="rect" coords="562,418,1319,473" href="../elements/6a1cd121-5fab-48bc-9249-bc2f369f2929.html"  target="element">
				  		<area shape="rect" coords="1642,283,1762,338" href="../elements/3b94c9b0-ec4e-4619-b16d-6074f48a73e6.html"  target="element">
				  		<area shape="rect" coords="910,283,1030,338" href="../elements/47cc811a-d7b0-41d9-abab-8ae3b6bd5b13.html"  target="element">
				  		<area shape="rect" coords="742,283,862,338" href="../elements/7f529402-0bcd-42bd-9f01-38cd70ba0a4e.html"  target="element">
				  		<area shape="rect" coords="586,273,706,349" href="../elements/283f3773-2abe-4b84-9771-2417ffb72fb3.html"  target="element">
				  		<area shape="rect" coords="742,130,862,185" href="../elements/eb4987df-cfe8-4cf6-871e-2cebb81d9fe2.html"  target="element">
				  		<area shape="rect" coords="430,130,550,185" href="../elements/f8418071-425a-4242-a1aa-f209b307a7ef.html"  target="element">
				  		<area shape="rect" coords="430,198,550,253" href="../elements/1cecfc52-7533-4e2a-8136-c7bfeec7af5d.html"  target="element">
				  		<area shape="rect" coords="430,274,550,347" href="../elements/d7aac1cc-017c-4b07-9406-72c1d00b6237.html"  target="element">
				  		<area shape="rect" coords="430,58,550,113" href="../elements/ff343b6e-c1f9-449e-b8f9-a69c974f904b.html"  target="element">
				  		<area shape="rect" coords="250,184,383,257" href="../elements/1c0c1eab-b402-4bc3-8844-644c02bc1863.html"  target="element">
				  				<area shape="rect" coords="94,190,215,245" href="../elements/a5c00bdd-c396-40df-bf3f-ec54188ff7f4.html"  target="element">

				  		<area shape="rect" coords="82,94,395,275" href="../elements/eef59ad8-505f-4cf0-be75-61555918bc8e.html"  target="element">
				  		<area shape="rect" coords="418,10,563,359" href="../elements/42583d43-2b7e-41b0-a1d0-d8dd45773b68.html"  target="element">
				  				<area shape="rect" coords="586,130,706,185" href="../elements/f7f3cc6e-9dcf-41bb-a2e5-57ab174f451a.html"  target="element">

				  		<area shape="rect" coords="574,10,719,383" href="../elements/cf9741a6-217b-4494-a6d0-dfb51b7ac142.html"  target="element">
				  		<area shape="rect" coords="730,10,887,215" href="../elements/e7a264f1-4df1-4139-97e9-daf2ff82ac94.html"  target="element">
				  		<area shape="rect" coords="730,229,887,383" href="../elements/37c14ded-e326-4131-bed2-8ef7965cdcc5.html"  target="element">
				  		<area shape="rect" coords="898,229,1043,383" href="../elements/ba541e01-774c-4322-a2d4-e6a0174500ea.html"  target="element">
				  				<area shape="rect" coords="1330,267,1450,343" href="../elements/6cc6ea3c-fe90-4d71-abc8-11ecc642f406.html"  target="element">
				  				<area shape="rect" coords="1198,277,1318,332" href="../elements/e7eb9de5-f240-4d18-8175-5f4b8d78dfb7.html"  target="element">
				  				<area shape="rect" coords="1066,277,1186,332" href="../elements/becbac3c-c9ca-4fda-bb9b-dc14dbcc6274.html"  target="element">

				  		<area shape="rect" coords="1054,229,1463,383" href="../elements/3e96af03-af2b-4d53-a1ac-35ac89ea158b.html"  target="element">
				  				<area shape="rect" coords="1487,277,1607,332" href="../elements/0ce3d3a0-dc3c-404d-9c23-4e581ec35499.html"  target="element">

				  		<area shape="rect" coords="1475,229,1619,383" href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html"  target="element">
				  		<area shape="rect" coords="1630,229,1787,383" href="../elements/76ffcdbd-2ee4-4279-81ce-5ca950cb85b0.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/76ffcdbd-2ee4-4279-81ce-5ca950cb85b0.html" target="element"> Customer </a> </td>
											    <td> <a href="../elements/76ffcdbd-2ee4-4279-81ce-5ca950cb85b0.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html" target="element"> Finance department </a> </td>
											    <td> <a href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/0ce3d3a0-dc3c-404d-9c23-4e581ec35499.html" target="element"> Claim for payment </a> </td>
													    <td> <a href="../elements/0ce3d3a0-dc3c-404d-9c23-4e581ec35499.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/3e96af03-af2b-4d53-a1ac-35ac89ea158b.html" target="element"> Supply department </a> </td>
											    <td> <a href="../elements/3e96af03-af2b-4d53-a1ac-35ac89ea158b.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/becbac3c-c9ca-4fda-bb9b-dc14dbcc6274.html" target="element"> Products stored in warehouse </a> </td>
													    <td> <a href="../elements/becbac3c-c9ca-4fda-bb9b-dc14dbcc6274.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e7eb9de5-f240-4d18-8175-5f4b8d78dfb7.html" target="element"> Products are shipped </a> </td>
													    <td> <a href="../elements/e7eb9de5-f240-4d18-8175-5f4b8d78dfb7.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6cc6ea3c-fe90-4d71-abc8-11ecc642f406.html" target="element"> Delivery invoice is sent to finance dept. </a> </td>
													    <td> <a href="../elements/6cc6ea3c-fe90-4d71-abc8-11ecc642f406.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/ba541e01-774c-4322-a2d4-e6a0174500ea.html" target="element"> Quality Control department </a> </td>
											    <td> <a href="../elements/ba541e01-774c-4322-a2d4-e6a0174500ea.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/37c14ded-e326-4131-bed2-8ef7965cdcc5.html" target="element"> Production unit </a> </td>
											    <td> <a href="../elements/37c14ded-e326-4131-bed2-8ef7965cdcc5.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e7a264f1-4df1-4139-97e9-daf2ff82ac94.html" target="element"> Purchase division </a> </td>
											    <td> <a href="../elements/e7a264f1-4df1-4139-97e9-daf2ff82ac94.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cf9741a6-217b-4494-a6d0-dfb51b7ac142.html" target="element"> Production division </a> </td>
											    <td> <a href="../elements/cf9741a6-217b-4494-a6d0-dfb51b7ac142.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/f7f3cc6e-9dcf-41bb-a2e5-57ab174f451a.html" target="element"> Check if enough raw material </a> </td>
													    <td> <a href="../elements/f7f3cc6e-9dcf-41bb-a2e5-57ab174f451a.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/42583d43-2b7e-41b0-a1d0-d8dd45773b68.html" target="element"> Sales division </a> </td>
											    <td> <a href="../elements/42583d43-2b7e-41b0-a1d0-d8dd45773b68.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/eef59ad8-505f-4cf0-be75-61555918bc8e.html" target="element"> Marketing department </a> </td>
											    <td> <a href="../elements/eef59ad8-505f-4cf0-be75-61555918bc8e.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/a5c00bdd-c396-40df-bf3f-ec54188ff7f4.html" target="element"> New order arrives </a> </td>
													    <td> <a href="../elements/a5c00bdd-c396-40df-bf3f-ec54188ff7f4.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/1c0c1eab-b402-4bc3-8844-644c02bc1863.html" target="element"> Order description is sent to sales dept. </a> </td>
											    <td> <a href="../elements/1c0c1eab-b402-4bc3-8844-644c02bc1863.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ff343b6e-c1f9-449e-b8f9-a69c974f904b.html" target="element"> Order info is sent to financial dept. </a> </td>
											    <td> <a href="../elements/ff343b6e-c1f9-449e-b8f9-a69c974f904b.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d7aac1cc-017c-4b07-9406-72c1d00b6237.html" target="element"> Order info is sent to production dept. </a> </td>
											    <td> <a href="../elements/d7aac1cc-017c-4b07-9406-72c1d00b6237.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1cecfc52-7533-4e2a-8136-c7bfeec7af5d.html" target="element"> Order info is sent to supply dept. </a> </td>
											    <td> <a href="../elements/1cecfc52-7533-4e2a-8136-c7bfeec7af5d.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f8418071-425a-4242-a1aa-f209b307a7ef.html" target="element"> Order info is sent to warehouse </a> </td>
											    <td> <a href="../elements/f8418071-425a-4242-a1aa-f209b307a7ef.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/eb4987df-cfe8-4cf6-871e-2cebb81d9fe2.html" target="element"> Order raw material </a> </td>
											    <td> <a href="../elements/eb4987df-cfe8-4cf6-871e-2cebb81d9fe2.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/283f3773-2abe-4b84-9771-2417ffb72fb3.html" target="element"> Order info is sent to production unit </a> </td>
											    <td> <a href="../elements/283f3773-2abe-4b84-9771-2417ffb72fb3.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7f529402-0bcd-42bd-9f01-38cd70ba0a4e.html" target="element"> Products are finished </a> </td>
											    <td> <a href="../elements/7f529402-0bcd-42bd-9f01-38cd70ba0a4e.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/47cc811a-d7b0-41d9-abab-8ae3b6bd5b13.html" target="element"> Quality control </a> </td>
											    <td> <a href="../elements/47cc811a-d7b0-41d9-abab-8ae3b6bd5b13.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3b94c9b0-ec4e-4619-b16d-6074f48a73e6.html" target="element"> Payment is made </a> </td>
											    <td> <a href="../elements/3b94c9b0-ec4e-4619-b16d-6074f48a73e6.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6a1cd121-5fab-48bc-9249-bc2f369f2929.html" target="element"> Logistica </a> </td>
											    <td> <a href="../elements/6a1cd121-5fab-48bc-9249-bc2f369f2929.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0caaa0d8-8edc-43ea-8994-84f8366b595f.html" target="element"> Magento commerce </a> </td>
											    <td> <a href="../elements/0caaa0d8-8edc-43ea-8994-84f8366b595f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/92e6d273-921d-4cce-8813-4ec48f2e2185.html" target="element"> Magento order management </a> </td>
											    <td> <a href="../elements/92e6d273-921d-4cce-8813-4ec48f2e2185.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1e4d4c1b-01a1-4348-8798-26e6f2bf2214.html" target="element"> Magento Business Intelligence </a> </td>
											    <td> <a href="../elements/1e4d4c1b-01a1-4348-8798-26e6f2bf2214.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											
											
											
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>