<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Current data sources and input methods</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Current data sources and input methods</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/bc4e07df-153d-4a55-b80c-66b8556efbca.png" alt="Current data sources and input methods" usemap="#bc4e07df-153d-4a55-b80c-66b8556efbcamap"/>
			   <map name="bc4e07df-153d-4a55-b80c-66b8556efbcamap">
				  		<area shape="rect" coords="629,590,749,645" href="../elements/eef59ad8-505f-4cf0-be75-61555918bc8e.html"  target="element">
				  		<area shape="rect" coords="245,596,365,651" href="../elements/916e79c0-f5de-43ce-a62c-ffd92dbaab3b.html"  target="element">
				  		<area shape="rect" coords="245,536,365,591" href="../elements/08547859-4066-4d9e-bfac-91c629ab2637.html"  target="element">
				  		<area shape="rect" coords="160,698,280,753" href="../elements/05a526ce-92ba-48ee-a202-461764c7dbb9.html"  target="element">
				  		<area shape="rect" coords="1048,716,1168,771" href="../elements/3e96af03-af2b-4d53-a1ac-35ac89ea158b.html"  target="element">
				  		<area shape="rect" coords="1048,572,1168,627" href="../elements/2fd25062-9433-4f65-b8ba-7481f6d7f87b.html"  target="element">
				  		<area shape="rect" coords="1492,644,1612,699" href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html"  target="element">
				  		<area shape="rect" coords="1048,644,1168,699" href="../elements/e7a264f1-4df1-4139-97e9-daf2ff82ac94.html"  target="element">
				  				<area shape="rect" coords="580,200,700,255" href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html"  target="element">
				  				<area shape="rect" coords="580,140,700,195" href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html"  target="element">
				  				<area shape="rect" coords="580,260,700,321" href="../elements/422ab703-66ee-474a-a261-2182505d0774.html"  target="element">

				  		<area shape="rect" coords="532,92,749,513" href="../elements/54daba34-8e5e-4b3a-aa06-c3dce19e5199.html"  target="element">
				  				<area shape="rect" coords="1384,260,1504,315" href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html"  target="element">
				  				<area shape="rect" coords="1384,392,1504,447" href="../elements/97299300-cbb5-47a2-a4d8-c7b2a0fefa15.html"  target="element">
				  				<area shape="rect" coords="1384,140,1504,195" href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html"  target="element">
				  				<area shape="rect" coords="1384,200,1504,255" href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html"  target="element">
				  				<area shape="rect" coords="1384,326,1504,381" href="../elements/580e849d-6b1a-4df6-88cc-1bf90a132134.html"  target="element">
				  				<area shape="rect" coords="1384,452,1504,507" href="../elements/4f38b815-73b9-49b3-b24e-d3d7f970c897.html"  target="element">

				  		<area shape="rect" coords="1336,92,1553,513" href="../elements/0cca7574-e96f-406b-ab5c-9b7da6b64e3f.html"  target="element">
				  				<area shape="rect" coords="196,272,316,327" href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html"  target="element">
				  				<area shape="rect" coords="196,140,316,195" href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html"  target="element">
				  				<area shape="rect" coords="196,212,316,267" href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html"  target="element">

				  		<area shape="rect" coords="148,92,365,513" href="../elements/0e4886f3-55bf-46f9-b257-d7ff4399859a.html"  target="element">
				  				<area shape="rect" coords="928,440,1048,495" href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html"  target="element">
				  				<area shape="rect" coords="928,260,1048,315" href="../elements/d4060f14-0cee-48bc-986a-456c61db983b.html"  target="element">
				  				<area shape="rect" coords="928,320,1048,375" href="../elements/d833da6a-b355-48e6-b8fa-f2233d4827ba.html"  target="element">
				  				<area shape="rect" coords="928,380,1048,435" href="../elements/97299300-cbb5-47a2-a4d8-c7b2a0fefa15.html"  target="element">
				  				<area shape="rect" coords="928,140,1048,195" href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html"  target="element">
				  				<area shape="rect" coords="928,200,1048,255" href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html"  target="element">

				  		<area shape="rect" coords="880,92,1085,513" href="../elements/6a1cd121-5fab-48bc-9249-bc2f369f2929.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/6a1cd121-5fab-48bc-9249-bc2f369f2929.html" target="element"> Logistica </a> </td>
											    <td> <a href="../elements/6a1cd121-5fab-48bc-9249-bc2f369f2929.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element"> Order information </a> </td>
													    <td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html" target="element"> Product information </a> </td>
													    <td> <a href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/97299300-cbb5-47a2-a4d8-c7b2a0fefa15.html" target="element"> Shipment information </a> </td>
													    <td> <a href="../elements/97299300-cbb5-47a2-a4d8-c7b2a0fefa15.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d833da6a-b355-48e6-b8fa-f2233d4827ba.html" target="element"> Inventory information </a> </td>
													    <td> <a href="../elements/d833da6a-b355-48e6-b8fa-f2233d4827ba.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d4060f14-0cee-48bc-986a-456c61db983b.html" target="element"> Manufacturing information </a> </td>
													    <td> <a href="../elements/d4060f14-0cee-48bc-986a-456c61db983b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element"> Customer information </a> </td>
													    <td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/0e4886f3-55bf-46f9-b257-d7ff4399859a.html" target="element"> SalesFront </a> </td>
											    <td> <a href="../elements/0e4886f3-55bf-46f9-b257-d7ff4399859a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element"> Customer information </a> </td>
													    <td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html" target="element"> Product information </a> </td>
													    <td> <a href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element"> Order information </a> </td>
													    <td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/0cca7574-e96f-406b-ab5c-9b7da6b64e3f.html" target="element"> Cashman </a> </td>
											    <td> <a href="../elements/0cca7574-e96f-406b-ab5c-9b7da6b64e3f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/4f38b815-73b9-49b3-b24e-d3d7f970c897.html" target="element"> Invoice data </a> </td>
													    <td> <a href="../elements/4f38b815-73b9-49b3-b24e-d3d7f970c897.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/580e849d-6b1a-4df6-88cc-1bf90a132134.html" target="element"> Payment data </a> </td>
													    <td> <a href="../elements/580e849d-6b1a-4df6-88cc-1bf90a132134.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element"> Customer information </a> </td>
													    <td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html" target="element"> Product information </a> </td>
													    <td> <a href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/97299300-cbb5-47a2-a4d8-c7b2a0fefa15.html" target="element"> Shipment information </a> </td>
													    <td> <a href="../elements/97299300-cbb5-47a2-a4d8-c7b2a0fefa15.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element"> Order information </a> </td>
													    <td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/54daba34-8e5e-4b3a-aa06-c3dce19e5199.html" target="element"> Statistica </a> </td>
											    <td> <a href="../elements/54daba34-8e5e-4b3a-aa06-c3dce19e5199.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/422ab703-66ee-474a-a261-2182505d0774.html" target="element"> Market information </a> </td>
													    <td> <a href="../elements/422ab703-66ee-474a-a261-2182505d0774.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html" target="element"> Product information </a> </td>
													    <td> <a href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element"> Customer information </a> </td>
													    <td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/e7a264f1-4df1-4139-97e9-daf2ff82ac94.html" target="element"> Purchase division </a> </td>
											    <td> <a href="../elements/e7a264f1-4df1-4139-97e9-daf2ff82ac94.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html" target="element"> Finance department </a> </td>
											    <td> <a href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2fd25062-9433-4f65-b8ba-7481f6d7f87b.html" target="element"> Production department manager </a> </td>
											    <td> <a href="../elements/2fd25062-9433-4f65-b8ba-7481f6d7f87b.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3e96af03-af2b-4d53-a1ac-35ac89ea158b.html" target="element"> Supply department </a> </td>
											    <td> <a href="../elements/3e96af03-af2b-4d53-a1ac-35ac89ea158b.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/05a526ce-92ba-48ee-a202-461764c7dbb9.html" target="element"> Sales manager </a> </td>
											    <td> <a href="../elements/05a526ce-92ba-48ee-a202-461764c7dbb9.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/08547859-4066-4d9e-bfac-91c629ab2637.html" target="element"> Marketing intermediary </a> </td>
											    <td> <a href="../elements/08547859-4066-4d9e-bfac-91c629ab2637.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/916e79c0-f5de-43ce-a62c-ffd92dbaab3b.html" target="element"> Regional sales person </a> </td>
											    <td> <a href="../elements/916e79c0-f5de-43ce-a62c-ffd92dbaab3b.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/eef59ad8-505f-4cf0-be75-61555918bc8e.html" target="element"> Marketing department </a> </td>
											    <td> <a href="../elements/eef59ad8-505f-4cf0-be75-61555918bc8e.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																			<tr>
																				<td> <a href="../elements/82561c01-ca13-43fd-a4df-7ac134acaf5a.html" target="element">  </a> </td>
																				<td> <a href="../elements/82561c01-ca13-43fd-a4df-7ac134acaf5a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element"> Order information </a> </td>
																				<td> <a href="../elements/6a1cd121-5fab-48bc-9249-bc2f369f2929.html" target="element"> Logistica </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/7d822393-a709-4de7-8c4e-47531f01c60f.html" target="element"> Batch file transfer </a> </td>
																				<td> <a href="../elements/7d822393-a709-4de7-8c4e-47531f01c60f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element"> Order information </a> </td>
																				<td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element"> Customer information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/20fe1c65-ebef-489b-9851-66c378049e50.html" target="element"> Fetches order information </a> </td>
																				<td> <a href="../elements/20fe1c65-ebef-489b-9851-66c378049e50.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element"> Order information </a> </td>
																				<td> <a href="../elements/3e96af03-af2b-4d53-a1ac-35ac89ea158b.html" target="element"> Supply department </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/2fdc8a39-fa1b-40f0-8719-ea8d58548794.html" target="element">  </a> </td>
																				<td> <a href="../elements/2fdc8a39-fa1b-40f0-8719-ea8d58548794.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html" target="element"> Product information </a> </td>
																				<td> <a href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html" target="element"> Product information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ce0f2860-6bd9-4d58-bf2d-be1898ed31b6.html" target="element"> Batch file transfer </a> </td>
																				<td> <a href="../elements/ce0f2860-6bd9-4d58-bf2d-be1898ed31b6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html" target="element"> Product information </a> </td>
																				<td> <a href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html" target="element"> Product information </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/23a61f85-632c-4456-bbb9-85b0b960dc6e.html" target="element"> Fetches shipment information </a> </td>
																				<td> <a href="../elements/23a61f85-632c-4456-bbb9-85b0b960dc6e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/97299300-cbb5-47a2-a4d8-c7b2a0fefa15.html" target="element"> Shipment information </a> </td>
																				<td> <a href="../elements/3e96af03-af2b-4d53-a1ac-35ac89ea158b.html" target="element"> Supply department </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/62be178d-ff80-4115-95e8-78866fa9acdb.html" target="element"> Batch file transfer </a> </td>
																				<td> <a href="../elements/62be178d-ff80-4115-95e8-78866fa9acdb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/d833da6a-b355-48e6-b8fa-f2233d4827ba.html" target="element"> Inventory information </a> </td>
																				<td> <a href="../elements/3b25b6bc-363c-41df-812b-6ef97e0f71d7.html" target="element"> Product information </a> </td>
																			</tr>

											
																			<tr>
																				<td> <a href="../elements/e2796609-a313-4fdd-80ed-c8e53865b99f.html" target="element">  </a> </td>
																				<td> <a href="../elements/e2796609-a313-4fdd-80ed-c8e53865b99f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element"> Customer information </a> </td>
																				<td> <a href="../elements/0e4886f3-55bf-46f9-b257-d7ff4399859a.html" target="element"> SalesFront </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/a6d2567e-9dfd-44fb-9f10-90523dd250ed.html" target="element"> Batch textfile transfer </a> </td>
																				<td> <a href="../elements/a6d2567e-9dfd-44fb-9f10-90523dd250ed.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element"> Customer information </a> </td>
																				<td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element"> Customer information </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/bdbc383a-a72c-4439-8643-895886636bfb.html" target="element">  </a> </td>
																				<td> <a href="../elements/bdbc383a-a72c-4439-8643-895886636bfb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element"> Order information </a> </td>
																				<td> <a href="../elements/0e4886f3-55bf-46f9-b257-d7ff4399859a.html" target="element"> SalesFront </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/fe268805-066d-4ed0-bd61-ee8b41921d81.html" target="element"> Fetch order information </a> </td>
																				<td> <a href="../elements/fe268805-066d-4ed0-bd61-ee8b41921d81.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element"> Order information </a> </td>
																				<td> <a href="../elements/05a526ce-92ba-48ee-a202-461764c7dbb9.html" target="element"> Sales manager </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/c55c9568-b7d7-466d-999e-e08a19603238.html" target="element">  </a> </td>
																		<td> <a href="../elements/c55c9568-b7d7-466d-999e-e08a19603238.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/0cca7574-e96f-406b-ab5c-9b7da6b64e3f.html" target="element"> Cashman </a> </td>
																		<td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element"> Customer information </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/0ec99a24-5f15-4cf1-8dbf-849ef131a64f.html" target="element"> Batchfile transfer </a> </td>
																				<td> <a href="../elements/0ec99a24-5f15-4cf1-8dbf-849ef131a64f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/580e849d-6b1a-4df6-88cc-1bf90a132134.html" target="element"> Payment data </a> </td>
																				<td> <a href="../elements/3e857f4e-97c8-4d80-89ca-6b3173587f4b.html" target="element"> Customer information </a> </td>
																			</tr>

											
																			<tr>
																				<td> <a href="../elements/10901ca6-643e-422a-b19e-0f2b89fe4922.html" target="element"> Fetches marketing information </a> </td>
																				<td> <a href="../elements/10901ca6-643e-422a-b19e-0f2b89fe4922.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/422ab703-66ee-474a-a261-2182505d0774.html" target="element"> Market information </a> </td>
																				<td> <a href="../elements/eef59ad8-505f-4cf0-be75-61555918bc8e.html" target="element"> Marketing department </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/bff45d72-12e3-49d5-bdb0-9cc28c90d841.html" target="element"> Registers newly arrived raw material information </a> </td>
																		<td> <a href="../elements/bff45d72-12e3-49d5-bdb0-9cc28c90d841.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/e7a264f1-4df1-4139-97e9-daf2ff82ac94.html" target="element"> Purchase division </a> </td>
																		<td> <a href="../elements/d833da6a-b355-48e6-b8fa-f2233d4827ba.html" target="element"> Inventory information </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ac1b17e2-a145-4cd6-841b-95685647890e.html" target="element"> Sends raw material invoices by internal mail </a> </td>
																		<td> <a href="../elements/ac1b17e2-a145-4cd6-841b-95685647890e.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/e7a264f1-4df1-4139-97e9-daf2ff82ac94.html" target="element"> Purchase division </a> </td>
																		<td> <a href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html" target="element"> Finance department </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4bb49b5b-ec46-43cf-a46a-1ebe48dd4330.html" target="element"> Registers invoice </a> </td>
																		<td> <a href="../elements/4bb49b5b-ec46-43cf-a46a-1ebe48dd4330.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html" target="element"> Finance department </a> </td>
																		<td> <a href="../elements/4f38b815-73b9-49b3-b24e-d3d7f970c897.html" target="element"> Invoice data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8e56f2e0-ddbd-4c86-ac77-57b0858895fa.html" target="element"> Registers shipment information </a> </td>
																		<td> <a href="../elements/8e56f2e0-ddbd-4c86-ac77-57b0858895fa.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html" target="element"> Finance department </a> </td>
																		<td> <a href="../elements/97299300-cbb5-47a2-a4d8-c7b2a0fefa15.html" target="element"> Shipment information </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9287f416-eb6d-48b4-88e3-15a1e79db871.html" target="element"> Registers order information </a> </td>
																		<td> <a href="../elements/9287f416-eb6d-48b4-88e3-15a1e79db871.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html" target="element"> Finance department </a> </td>
																		<td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element"> Order information </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/93138816-ea9e-4613-9511-49e6b670039b.html" target="element"> Registers production data </a> </td>
																		<td> <a href="../elements/93138816-ea9e-4613-9511-49e6b670039b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/2fd25062-9433-4f65-b8ba-7481f6d7f87b.html" target="element"> Production department manager </a> </td>
																		<td> <a href="../elements/d4060f14-0cee-48bc-986a-456c61db983b.html" target="element"> Manufacturing information </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2d7dd7d0-0c1d-4ca5-85d1-1cacaf2c3e3c.html" target="element"> Registers order information </a> </td>
																		<td> <a href="../elements/2d7dd7d0-0c1d-4ca5-85d1-1cacaf2c3e3c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/2fd25062-9433-4f65-b8ba-7481f6d7f87b.html" target="element"> Production department manager </a> </td>
																		<td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element"> Order information </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2a42c543-2c0b-4b55-b9b4-aca2ac8ecdf0.html" target="element"> Sends order info manually to finance department </a> </td>
																		<td> <a href="../elements/2a42c543-2c0b-4b55-b9b4-aca2ac8ecdf0.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/3e96af03-af2b-4d53-a1ac-35ac89ea158b.html" target="element"> Supply department </a> </td>
																		<td> <a href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html" target="element"> Finance department </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c220d87f-6469-4e3a-b69e-dd3c44a63ade.html" target="element"> Sends order information </a> </td>
																		<td> <a href="../elements/c220d87f-6469-4e3a-b69e-dd3c44a63ade.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/05a526ce-92ba-48ee-a202-461764c7dbb9.html" target="element"> Sales manager </a> </td>
																		<td> <a href="../elements/2fd25062-9433-4f65-b8ba-7481f6d7f87b.html" target="element"> Production department manager </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/64c3556a-c2e2-4746-a4b4-f3b2dfd50bf9.html" target="element"> Enters order from customer </a> </td>
																		<td> <a href="../elements/64c3556a-c2e2-4746-a4b4-f3b2dfd50bf9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/08547859-4066-4d9e-bfac-91c629ab2637.html" target="element"> Marketing intermediary </a> </td>
																		<td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element"> Order information </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/22dd2a6f-9f9a-44e3-9563-7daf93e23203.html" target="element"> Enters order from customer </a> </td>
																		<td> <a href="../elements/22dd2a6f-9f9a-44e3-9563-7daf93e23203.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/916e79c0-f5de-43ce-a62c-ffd92dbaab3b.html" target="element"> Regional sales person </a> </td>
																		<td> <a href="../elements/aa11c7f0-06c8-4865-ba02-6b9973770f7b.html" target="element"> Order information </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>