<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Financial and HR and systems future</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Financial and HR and systems future</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/f3cbd8d0-daf4-4be5-b99d-565806719ee7.png" alt="Financial and HR and systems future" usemap="#f3cbd8d0-daf4-4be5-b99d-565806719ee7map"/>
			   <map name="f3cbd8d0-daf4-4be5-b99d-565806719ee7map">
				  		<area shape="rect" coords="503,274,623,329" href="../elements/0890c76c-7c89-4a78-a159-25381b5dc934.html"  target="element">
				  		<area shape="rect" coords="634,454,767,542" href="../elements/5e294fe5-5d5b-4eb6-910f-178454e95a22.html"  target="element">
				  		<area shape="rect" coords="502,454,623,542" href="../elements/9fd517f6-d77f-4f06-8689-88abb09abc05.html"  target="element">
				          <area shape="rect" coords="538,550,723,623" href="../objects/b0325bca-7e1a-429f-9b3a-c2d1194e585e.html" target="element" >
				  		<area shape="rect" coords="622,82,742,137" href="../elements/02bf6fcf-2413-4ed8-b677-9ecd9f20f231.html"  target="element">
				  		<area shape="rect" coords="641,274,761,329" href="../elements/08f9204c-f70b-4d0e-8485-fa3203b8a52b.html"  target="element">
				          <area shape="rect" coords="190,310,375,371" href="../objects/4bcb422f-6d23-431c-a30f-9434aec93016.html" target="element" >
				          <area shape="rect" coords="190,448,479,563" href="../objects/aee25999-7817-4917-8209-1f90010a88c0.html" target="element" >
				  		<area shape="rect" coords="46,310,166,365" href="../elements/1d2b9996-e401-40c8-8fdd-abc015e3b8cb.html"  target="element">
				  		<area shape="rect" coords="46,190,166,245" href="../elements/0cca7574-e96f-406b-ab5c-9b7da6b64e3f.html"  target="element">
				  		<area shape="rect" coords="46,46,166,101" href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html"  target="element">
				  		        <area shape="rect" coords="178,154,347,215" href="../objects/39915e8a-9737-43b8-9a43-13bc1a3345d0.html" target="element" >
				  				<area shape="rect" coords="46,454,166,551" href="../elements/0cd337b7-07a9-41f0-884b-f1f44308d222.html"  target="element">

				  		<area shape="rect" coords="10,10,491,599" href="../elements/d511a324-9c00-4598-8557-51850d713a62.html"  target="element">
				  		<area shape="rect" coords="502,178,779,599" href="../elements/13e018cf-d594-4062-a80b-781e58a84073.html"  target="element">
				  		        <area shape="rect" coords="1065,165,1250,245" href="../objects/e55c17dc-188c-487a-9809-fec35ed583b1.html" target="element" >
				  		        <area shape="rect" coords="1078,298,1263,378" href="../objects/439336c5-fad6-42b4-9230-2990b565ef51.html" target="element" >
				  				<area shape="rect" coords="934,43,1054,98" href="../elements/bda09a2c-3b31-4f10-a773-3144745b4c08.html"  target="element">
				  				<area shape="rect" coords="934,190,1054,245" href="../elements/a8848bdb-e6b3-497e-a4dd-56c834bc32bc.html"  target="element">
				  				<area shape="rect" coords="934,310,1054,365" href="../elements/ca2d75c9-4d0a-4421-9784-bb2974833269.html"  target="element">
				  				<area shape="rect" coords="946,451,1066,506" href="../elements/acf0da46-aac4-4c83-a241-ace0256c1063.html"  target="element">

				  		<area shape="rect" coords="862,10,1271,599" href="../elements/527d9579-46a5-4bac-b5df-fd5caf4ace39.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/527d9579-46a5-4bac-b5df-fd5caf4ace39.html" target="element"> Human resources VLAN group </a> </td>
											    <td> <a href="../elements/527d9579-46a5-4bac-b5df-fd5caf4ace39.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/acf0da46-aac4-4c83-a241-ace0256c1063.html" target="element"> Windows 2019 server (datacenter) for HR </a> </td>
													    <td> <a href="../elements/acf0da46-aac4-4c83-a241-ace0256c1063.html" target="element" class="i18n-elementtype-Device"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ca2d75c9-4d0a-4421-9784-bb2974833269.html" target="element"> IBM domino server </a> </td>
													    <td> <a href="../elements/ca2d75c9-4d0a-4421-9784-bb2974833269.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a8848bdb-e6b3-497e-a4dd-56c834bc32bc.html" target="element"> TimeTrack </a> </td>
													    <td> <a href="../elements/a8848bdb-e6b3-497e-a4dd-56c834bc32bc.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/bda09a2c-3b31-4f10-a773-3144745b4c08.html" target="element"> Human Resources department </a> </td>
													    <td> <a href="../elements/bda09a2c-3b31-4f10-a773-3144745b4c08.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/439336c5-fad6-42b4-9230-2990b565ef51.html" target="element">  </a> </td>
											           <td> <a href="../objects/439336c5-fad6-42b4-9230-2990b565ef51.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/e55c17dc-188c-487a-9809-fec35ed583b1.html" target="element">  </a> </td>
											           <td> <a href="../objects/e55c17dc-188c-487a-9809-fec35ed583b1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/13e018cf-d594-4062-a80b-781e58a84073.html" target="element"> Company wide vlan </a> </td>
											    <td> <a href="../elements/13e018cf-d594-4062-a80b-781e58a84073.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d511a324-9c00-4598-8557-51850d713a62.html" target="element"> Finance dept VLAN group </a> </td>
											    <td> <a href="../elements/d511a324-9c00-4598-8557-51850d713a62.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/0cd337b7-07a9-41f0-884b-f1f44308d222.html" target="element"> Windows 2019 server (datacenter) for finance dept. </a> </td>
													    <td> <a href="../elements/0cd337b7-07a9-41f0-884b-f1f44308d222.html" target="element" class="i18n-elementtype-Device"> </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/39915e8a-9737-43b8-9a43-13bc1a3345d0.html" target="element">  </a> </td>
											           <td> <a href="../objects/39915e8a-9737-43b8-9a43-13bc1a3345d0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html" target="element"> Finance department </a> </td>
											    <td> <a href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0cca7574-e96f-406b-ab5c-9b7da6b64e3f.html" target="element"> Cashman </a> </td>
											    <td> <a href="../elements/0cca7574-e96f-406b-ab5c-9b7da6b64e3f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1d2b9996-e401-40c8-8fdd-abc015e3b8cb.html" target="element"> PostgreSQL </a> </td>
											    <td> <a href="../elements/1d2b9996-e401-40c8-8fdd-abc015e3b8cb.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/aee25999-7817-4917-8209-1f90010a88c0.html" target="element">  </a> </td>
									           <td> <a href="../objects/aee25999-7817-4917-8209-1f90010a88c0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/4bcb422f-6d23-431c-a30f-9434aec93016.html" target="element">  </a> </td>
									           <td> <a href="../objects/4bcb422f-6d23-431c-a30f-9434aec93016.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/08f9204c-f70b-4d0e-8485-fa3203b8a52b.html" target="element"> Exchange server </a> </td>
											    <td> <a href="../elements/08f9204c-f70b-4d0e-8485-fa3203b8a52b.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/02bf6fcf-2413-4ed8-b677-9ecd9f20f231.html" target="element"> Microsoft OutLook </a> </td>
											    <td> <a href="../elements/02bf6fcf-2413-4ed8-b677-9ecd9f20f231.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/b0325bca-7e1a-429f-9b3a-c2d1194e585e.html" target="element">  </a> </td>
									           <td> <a href="../objects/b0325bca-7e1a-429f-9b3a-c2d1194e585e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/9fd517f6-d77f-4f06-8689-88abb09abc05.html" target="element"> Windows 2019 server (datacenter) for identities </a> </td>
											    <td> <a href="../elements/9fd517f6-d77f-4f06-8689-88abb09abc05.html" target="element" class="i18n-elementtype-Device"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5e294fe5-5d5b-4eb6-910f-178454e95a22.html" target="element"> Windows 2019 server (datacenter) for Exchange </a> </td>
											    <td> <a href="../elements/5e294fe5-5d5b-4eb6-910f-178454e95a22.html" target="element" class="i18n-elementtype-Device"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0890c76c-7c89-4a78-a159-25381b5dc934.html" target="element"> Active Directory </a> </td>
											    <td> <a href="../elements/0890c76c-7c89-4a78-a159-25381b5dc934.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																			<tr>
																				<td> <a href="../elements/aab05858-3b9e-49e4-a2af-7073fa6f2469.html" target="element">  </a> </td>
																				<td> <a href="../elements/aab05858-3b9e-49e4-a2af-7073fa6f2469.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/acf0da46-aac4-4c83-a241-ace0256c1063.html" target="element"> Windows 2019 server (datacenter) for HR </a> </td>
																				<td> <a href="../elements/ca2d75c9-4d0a-4421-9784-bb2974833269.html" target="element"> IBM domino server </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/fdae40f8-4d08-4892-9f80-b4482be05bec.html" target="element">  </a> </td>
																				<td> <a href="../elements/fdae40f8-4d08-4892-9f80-b4482be05bec.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/ca2d75c9-4d0a-4421-9784-bb2974833269.html" target="element"> IBM domino server </a> </td>
																				<td> <a href="../elements/a8848bdb-e6b3-497e-a4dd-56c834bc32bc.html" target="element"> TimeTrack </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/5097e67c-2924-44a1-808f-eea40542b19c.html" target="element">  </a> </td>
																				<td> <a href="../elements/5097e67c-2924-44a1-808f-eea40542b19c.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/a8848bdb-e6b3-497e-a4dd-56c834bc32bc.html" target="element"> TimeTrack </a> </td>
																				<td> <a href="../elements/bda09a2c-3b31-4f10-a773-3144745b4c08.html" target="element"> Human Resources department </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																			<tr>
																				<td> <a href="../elements/5f59e284-0d69-48f3-a567-82854f8c7112.html" target="element">  </a> </td>
																				<td> <a href="../elements/5f59e284-0d69-48f3-a567-82854f8c7112.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/0cd337b7-07a9-41f0-884b-f1f44308d222.html" target="element"> Windows 2019 server (datacenter) for finance dept. </a> </td>
																				<td> <a href="../elements/1d2b9996-e401-40c8-8fdd-abc015e3b8cb.html" target="element"> PostgreSQL </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/431544a2-388c-4f98-a9ce-988327e3c910.html" target="element">  </a> </td>
																		<td> <a href="../elements/431544a2-388c-4f98-a9ce-988327e3c910.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/0cca7574-e96f-406b-ab5c-9b7da6b64e3f.html" target="element"> Cashman </a> </td>
																		<td> <a href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html" target="element"> Finance department </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/41523b09-5264-4aff-9747-9ef40064bc58.html" target="element">  </a> </td>
																		<td> <a href="../elements/41523b09-5264-4aff-9747-9ef40064bc58.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/1d2b9996-e401-40c8-8fdd-abc015e3b8cb.html" target="element"> PostgreSQL </a> </td>
																		<td> <a href="../elements/0cca7574-e96f-406b-ab5c-9b7da6b64e3f.html" target="element"> Cashman </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/27d4a3f3-d481-4aaa-ba88-be48b320772f.html" target="element">  </a> </td>
																		<td> <a href="../elements/27d4a3f3-d481-4aaa-ba88-be48b320772f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/08f9204c-f70b-4d0e-8485-fa3203b8a52b.html" target="element"> Exchange server </a> </td>
																		<td> <a href="../elements/02bf6fcf-2413-4ed8-b677-9ecd9f20f231.html" target="element"> Microsoft OutLook </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/48e82761-bf4c-41a0-a357-9b7ecc7351bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/48e82761-bf4c-41a0-a357-9b7ecc7351bd.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/02bf6fcf-2413-4ed8-b677-9ecd9f20f231.html" target="element"> Microsoft OutLook </a> </td>
																		<td> <a href="../elements/cc09da40-db86-43a6-92d5-107572056f6c.html" target="element"> Finance department </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ae8e2d02-f05a-44e5-919b-7ec69a3a759a.html" target="element">  </a> </td>
																		<td> <a href="../elements/ae8e2d02-f05a-44e5-919b-7ec69a3a759a.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/02bf6fcf-2413-4ed8-b677-9ecd9f20f231.html" target="element"> Microsoft OutLook </a> </td>
																		<td> <a href="../elements/bda09a2c-3b31-4f10-a773-3144745b4c08.html" target="element"> Human Resources department </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/82a2da9d-ae90-4dbb-9426-2eda65d47bae.html" target="element">  </a> </td>
																		<td> <a href="../elements/82a2da9d-ae90-4dbb-9426-2eda65d47bae.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9fd517f6-d77f-4f06-8689-88abb09abc05.html" target="element"> Windows 2019 server (datacenter) for identities </a> </td>
																		<td> <a href="../elements/0890c76c-7c89-4a78-a159-25381b5dc934.html" target="element"> Active Directory </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/eeb690a7-8e80-438e-91cc-2d6d5c76fbb0.html" target="element">  </a> </td>
																		<td> <a href="../elements/eeb690a7-8e80-438e-91cc-2d6d5c76fbb0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5e294fe5-5d5b-4eb6-910f-178454e95a22.html" target="element"> Windows 2019 server (datacenter) for Exchange </a> </td>
																		<td> <a href="../elements/08f9204c-f70b-4d0e-8485-fa3203b8a52b.html" target="element"> Exchange server </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0db352e5-a864-4185-9e6b-9067bc41fedd.html" target="element">  </a> </td>
																		<td> <a href="../elements/0db352e5-a864-4185-9e6b-9067bc41fedd.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/0890c76c-7c89-4a78-a159-25381b5dc934.html" target="element"> Active Directory </a> </td>
																		<td> <a href="../elements/0cca7574-e96f-406b-ab5c-9b7da6b64e3f.html" target="element"> Cashman </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5c3c9da3-bc00-40af-9f79-91fd6a99f486.html" target="element"> Provides identities </a> </td>
																		<td> <a href="../elements/5c3c9da3-bc00-40af-9f79-91fd6a99f486.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/0890c76c-7c89-4a78-a159-25381b5dc934.html" target="element"> Active Directory </a> </td>
																		<td> <a href="../elements/02bf6fcf-2413-4ed8-b677-9ecd9f20f231.html" target="element"> Microsoft OutLook </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4bc5c34f-6aec-4a04-83b4-1376a9af05b6.html" target="element"> Provides identities </a> </td>
																		<td> <a href="../elements/4bc5c34f-6aec-4a04-83b4-1376a9af05b6.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/0890c76c-7c89-4a78-a159-25381b5dc934.html" target="element"> Active Directory </a> </td>
																		<td> <a href="../elements/a8848bdb-e6b3-497e-a4dd-56c834bc32bc.html" target="element"> TimeTrack </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>